.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
html{width:900px;overflow:hidden;}html body{overflow:hidden;width:900px;min-height:340px;background-color:transparent;}html body #adesao{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:860px;min-height:300px;padding:20px;background-color:#fff;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');}html body #adesao .hid{display:none;}
html body #adesao #testeira{width:860px;display:block;height:160px;position:relative;background:url('../_imgs/layout/testeira.png') center center no-repeat;margin-bottom:20px;}html body #adesao #testeira #box-seja{width:280px;height:135px;position:absolute;top:18px;right:20px;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:40px;font-weight:bold;color:#00ccff;line-height:115%;}html body #adesao #testeira #box-seja .frase1{font-size:30px;padding-left:100px;}
html body #adesao #testeira #box-seja .frase3{padding-left:80px;}
html body #adesao #testeira h1{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;color:#fff;position:absolute;top:26px;left:36px;width:335px;line-height:130%;margin-bottom:15px;}
html body #adesao #testeira h2{position:absolute;top:105px;left:36px;line-height:130%;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;width:335px;}
html body #adesao #botoes a{display:inline-block;*display:inline;zoom:1;vertical-align:top;background-color:#24ada4;padding:30px 0 0 45px;width:375px;height:90px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');color:#fff;line-height:190%;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}html body #adesao #botoes a .maior{font-size:36px;}
html body #adesao #botoes a:active,html body #adesao #botoes a:visited{color:#fff;}
html body #adesao #botoes a:hover{background-color:#213f53;}
html body #adesao #botoes a.margem{margin-right:16px;}
html body #adesao #form-pessoas,html body #adesao #form-empresas{position:relative;width:860px;height:275px;}html body #adesao #form-pessoas h3,html body #adesao #form-empresas h3{position:absolute;left:20px;top:0;line-height:190%;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;color:#24ada4;}html body #adesao #form-pessoas h3 .maior,html body #adesao #form-empresas h3 .maior{font-size:36px;}
html body #adesao #form-pessoas #form-cad-empresas,html body #adesao #form-empresas #form-cad-empresas,html body #adesao #form-pessoas #form-cad-pessoas,html body #adesao #form-empresas #form-cad-pessoas{position:absolute;right:0;top:0;width:605px;min-height:;}html body #adesao #form-pessoas #form-cad-empresas label,html body #adesao #form-empresas #form-cad-empresas label,html body #adesao #form-pessoas #form-cad-pessoas label,html body #adesao #form-empresas #form-cad-pessoas label{height:35px;text-align:right;display:block;width:605px;margin-bottom:5px;color:#24ada4;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;}html body #adesao #form-pessoas #form-cad-empresas label .duaslinhas,html body #adesao #form-empresas #form-cad-empresas label .duaslinhas,html body #adesao #form-pessoas #form-cad-pessoas label .duaslinhas,html body #adesao #form-empresas #form-cad-pessoas label .duaslinhas{float:right;line-height:100%;}
html body #adesao #form-pessoas #form-cad-empresas label input[type="text"],html body #adesao #form-empresas #form-cad-empresas label input[type="text"],html body #adesao #form-pessoas #form-cad-pessoas label input[type="text"],html body #adesao #form-empresas #form-cad-pessoas label input[type="text"],html body #adesao #form-pessoas #form-cad-empresas label input[type="email"],html body #adesao #form-empresas #form-cad-empresas label input[type="email"],html body #adesao #form-pessoas #form-cad-pessoas label input[type="email"],html body #adesao #form-empresas #form-cad-pessoas label input[type="email"]{border:0;margin:0;padding:0;float:right;height:25px;padding:5px 10px;width:400px;margin-left:10px;line-height:-3px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#fff;background-color:#24ada4;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');}
html body #adesao #form-pessoas #form-cad-empresas label.special,html body #adesao #form-empresas #form-cad-empresas label.special,html body #adesao #form-pessoas #form-cad-pessoas label.special,html body #adesao #form-empresas #form-cad-pessoas label.special{position:relative;}html body #adesao #form-pessoas #form-cad-empresas label.special .duaslinhas,html body #adesao #form-empresas #form-cad-empresas label.special .duaslinhas,html body #adesao #form-pessoas #form-cad-pessoas label.special .duaslinhas,html body #adesao #form-empresas #form-cad-pessoas label.special .duaslinhas{position:absolute;left:0;width:175px;}
html body #adesao #form-pessoas #form-cad-empresas label.special #fake-input,html body #adesao #form-empresas #form-cad-empresas label.special #fake-input,html body #adesao #form-pessoas #form-cad-pessoas label.special #fake-input,html body #adesao #form-empresas #form-cad-pessoas label.special #fake-input{position:absolute;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;text-align:left;color:#fff;margin-left:10px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');top:0;right:0;height:25px;line-height:25px;padding:5px 10px;width:400px;background-color:#24ada4;z-index:6;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}html body #adesao #form-pessoas #form-cad-empresas label.special #fake-input:hover,html body #adesao #form-empresas #form-cad-empresas label.special #fake-input:hover,html body #adesao #form-pessoas #form-cad-pessoas label.special #fake-input:hover,html body #adesao #form-empresas #form-cad-pessoas label.special #fake-input:hover{cursor:pointer;color:#430e5d;}
html body #adesao #form-pessoas #form-cad-empresas label.special input[type="file"],html body #adesao #form-empresas #form-cad-empresas label.special input[type="file"],html body #adesao #form-pessoas #form-cad-pessoas label.special input[type="file"],html body #adesao #form-empresas #form-cad-pessoas label.special input[type="file"]{position:absolute;right:0;width:420px;display:hidden;opacity:0;z-index:3;}
html body #adesao #form-pessoas #form-cad-empresas .submit-placeholder,html body #adesao #form-empresas #form-cad-empresas .submit-placeholder,html body #adesao #form-pessoas #form-cad-pessoas .submit-placeholder,html body #adesao #form-empresas #form-cad-pessoas .submit-placeholder{height:60px;}html body #adesao #form-pessoas #form-cad-empresas .submit-placeholder input[type="submit"],html body #adesao #form-empresas #form-cad-empresas .submit-placeholder input[type="submit"],html body #adesao #form-pessoas #form-cad-pessoas .submit-placeholder input[type="submit"],html body #adesao #form-empresas #form-cad-pessoas .submit-placeholder input[type="submit"]{float:right;border:0;padding:0;margin-top:5px;background-color:#430e5d;color:#24ada4;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;width:420px;height:60px;line-height:60px;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}html body #adesao #form-pessoas #form-cad-empresas .submit-placeholder input[type="submit"]:hover,html body #adesao #form-empresas #form-cad-empresas .submit-placeholder input[type="submit"]:hover,html body #adesao #form-pessoas #form-cad-pessoas .submit-placeholder input[type="submit"]:hover,html body #adesao #form-empresas #form-cad-pessoas .submit-placeholder input[type="submit"]:hover{background-color:#213f53;color:#fff;cursor:pointer;}
html body #adesao #form-pessoas .disclaimer,html body #adesao #form-empresas .disclaimer{padding:0 10px;top:220px;position:absolute;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#213f53;}html body #adesao #form-pessoas .disclaimer.emp,html body #adesao #form-empresas .disclaimer.emp{top:330px;}
html body #adesao .agradecimento p{color:#24ada4;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;margin:0 auto 15px auto;width:585px;display:block;text-align:center;}html body #adesao .agradecimento p.maior{font-size:22px;}
html body #adesao .agradecimento ul{width:210px;display:block;margin:0 auto;list-style:none;font-size:0;padding-top:5px;}html body #adesao .agradecimento ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:32px;height:36px;margin-left:3px;}html body #adesao .agradecimento ul li.share-email a{background:url('../_imgs/layout/midias-email.jpg') center bottom no-repeat;}
html body #adesao .agradecimento ul li.share-facebook a{background:url('../_imgs/layout/midias-facebook.jpg') center bottom no-repeat;}
html body #adesao .agradecimento ul li.share-twitter a{background:url('../_imgs/layout/midias-twitter.jpg') center bottom no-repeat;}
html body #adesao .agradecimento ul li.share-tumblr a{background:url('../_imgs/layout/midias-tumblr.jpg') center bottom no-repeat;}
html body #adesao .agradecimento ul li.share-vimeo a{background:url('../_imgs/layout/midias-vimeo.jpg') center bottom no-repeat;}
html body #adesao .agradecimento ul li.share-youtube a{background:url('../_imgs/layout/midias-youtube.png') center bottom no-repeat;}
html body #adesao .agradecimento ul li a{text-indent:-99999px;display:block;width:32px;height:36px;-webkit-transition:background-position 0.3s ease-in-out;-moz-transition:background-position 0.3s ease-in-out;-o-transition:background-position 0.3s ease-in-out;transition:background-position 0.3s ease-in-out;}html body #adesao .agradecimento ul li a:hover{background-position:center top;}
