@import 'vars.less';

html{
	width:900px;
	overflow:hidden;
	body{
		overflow:hidden;
		width:900px;
		min-height:340px;
		background-color:transparent;
		#adesao{
			.hid{ display:none; }
			.transition;
			width:860px;
			min-height:300px;
			padding:20px;
			background-color:#fff;
			.arredondada(20px);
			#testeira{
				width:860px;
				display:block;
				height:160px;
				position:relative;
				background:url('../_imgs/layout/testeira.png') center center no-repeat;
				margin-bottom:20px;
				#box-seja{
					width:280px;
					height:135px;
					position:absolute;
					top:18px;
					right:20px;
					.caecilia(40px, bold);
					color:@azul_claro;
					line-height:115%;
					.frase1{
						font-size:30px;
						padding-left:100px;
					}
					.frase3{
						padding-left:80px;
					}
				}
				h1{
					.caecilia(30px, bold);
					color:#fff;
					position:absolute;
					top:26px;
					left:36px;
					width:335px;
					line-height:130%;
					margin-bottom:15px;
				}
				h2{
					position:absolute;
					top:105px;
					left:36px;
					line-height:130%;
					.verdana(14px);
					color:#fff;
					width:335px;
				}
			}
			#botoes{
				a{
					.inline;
					background-color:@verde_principal;
					padding:30px 0 0 45px;
					width:375px;
					height:90px;
					.arredondada(20px);
					color:#fff;
					line-height:190%;
					.caecilia(18px, bold);
					.transition;
					.maior{ font-size:36px; }
					&:active, &:visited{color:#fff;}
					&:hover{ background-color:@azul_escuro;}
					&.margem{ margin-right:16px;}
				}
			}
			#form-pessoas,
			#form-empresas{
				position:relative;
				width:860px;
				height:275px;
				h3{
					position:absolute;
					left:20px;
					top:0;
					line-height:190%;
					.caecilia(18px, bold);
					color:@verde_principal;
					.maior{ font-size:36px; }
				}
				#form-cad-empresas,
				#form-cad-pessoas{
					position:absolute;
					right:0;
					top:0;
					width:605px;
					min-height:;
					label{
						height:35px;
						text-align:right;
						display:block;
						width:605px;
						margin-bottom:5px;
						color:@verde_principal;
						.verdana(14px, bold);
						.duaslinhas{
							float:right;
							line-height:100%;
						}
						input[type="text"],
						input[type="email"]{
							border:0;
							margin:0;
							padding:0;
							float:right;
							height:25px;
							padding:5px 10px;
							width:400px;
							margin-left:10px;
							line-height:-3px;
							.verdana(14px, bold);
							color:#fff;
							background-color:@verde_principal;
							.arredondada(20px);
						}
						&.special{
							position:relative;
							.duaslinhas{
								position:absolute;
								left:0;
								width:175px;
							}
							#fake-input{
								position:absolute;
								.verdana(14px, bold);
								text-align:left;
								color:#fff;
								margin-left:10px;
								.arredondada(20px);
								top:0;
								right:0;
								height:25px;
								line-height:25px;
								padding:5px 10px;
								width:400px;
								background-color:@verde_principal;
								z-index: 6;
								.transition;
								&:hover{
									cursor:pointer;
									color:@roxo;
								}
							}
							input[type="file"]{
								position:absolute;
								right:0;
								width:420px;
								display:hidden;
								opacity:0;
								z-index: 3;
							}
						}
					}
					.submit-placeholder{
						height:60px;
						input[type="submit"]{
							float:right;
							border:0;
							padding:0;
							margin-top:5px;
							background-color:@roxo;
							color:@verde_principal;
							text-align:center;
							.caecilia(24px, bold);
							width:420px;
							height:60px;
							line-height:60px;
							.arredondada(20px);
							.transition;
							&:hover{
								background-color:@azul_escuro;
								color:#fff;
								cursor:pointer;
							}
						}
					}
				}
				.disclaimer{
					padding:0 10px;
					top:220px;
					position:absolute;
					.verdana(12px);
					color:@azul_escuro;
					&.emp{ top:330px; }
				}
			}
			.agradecimento{
				p{
					color:@verde_principal;
					.caecilia(18px, bold);
					margin:0 auto 15px auto;
					width:585px;
					display:block;
					text-align:center;
					&.maior{ font-size:22px; }
				}
				ul{
					width:210px;
					display:block;
					margin:0 auto;
					list-style:none;
					font-size:0;
					padding-top:5px;
					li{
						.inline;
						width:32px;
						height:36px;
						margin-left:3px;
						&.share-email a{ background: url('../_imgs/layout/midias-email.jpg') center bottom no-repeat; }
						&.share-facebook a{ background: url('../_imgs/layout/midias-facebook.jpg') center bottom no-repeat; }
						&.share-twitter a{ background: url('../_imgs/layout/midias-twitter.jpg') center bottom no-repeat; }
						&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr.jpg') center bottom no-repeat; }
						&.share-vimeo a{ background: url('../_imgs/layout/midias-vimeo.jpg') center bottom no-repeat; }
						&.share-youtube a{ background: url('../_imgs/layout/midias-youtube.png') center bottom no-repeat; }
						a{
							text-indent:-99999px;
							display: block;
							width:32px;
							height:36px;
							.transition(background-position, .3s, ease-in-out);
							&:hover{
								background-position:center top;
							}
						}
					}
				}		
			}
		}
	}
}