.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
body {
  background-color: #24ada4;
}
body header {
  background-color: #24ada4;
  padding-bottom: 50px;
}
body header .superior {
  width: 100%;
  background-color: #fff;
}
body header .superior .centro {
  min-height: 180px;
  position: relative;
}
body header .superior .centro.pt {
  background: url('../_imgs/layout/logo_pt.png') #ffffff left bottom no-repeat;
}
body header .superior .centro.es {
  background: url('../_imgs/layout/logo_es.png') #ffffff left bottom no-repeat;
}
body header .superior .centro.en {
  background: url('../_imgs/layout/logo_en.png') #ffffff left bottom no-repeat;
}
body header .superior .centro #language-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
}
body header .superior .centro #language-box ul {
  font-size: 0;
  border-left: 1px #24ada4 dashed;
}
body header .superior .centro #language-box ul li {
  height: 25px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header .superior .centro #language-box ul li a {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  display: block;
  background-color: #fff;
  border-top: 1px #24ada4 dashed;
  border-bottom: 1px #24ada4 dashed;
  border-right: 1px #24ada4 dashed;
  border-left: none;
  color: #24ada4;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .superior .centro #language-box ul li a:active,
body header .superior .centro #language-box ul li a:visited {
  color: #24ada4;
}
body header .superior .centro #language-box ul li a:hover,
body header .superior .centro #language-box ul li a.ativo {
  cursor: pointer;
  background-color: #ceebe5;
}
body header .superior .centro #share-box {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 20px;
  text-align: right;
  width: 270px;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 87px;
  line-height: 120%;
  color: #24ada4;
}
body header .superior .centro #share-box ul {
  width: 270px;
  list-style: none;
  font-size: 0;
  padding-top: 5px;
}
body header .superior .centro #share-box ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 32px;
  height: 36px;
  margin-left: 3px;
}
body header .superior .centro #share-box ul li.share-email a {
  background: url('../_imgs/layout/midias-email.jpg') center bottom no-repeat;
}
body header .superior .centro #share-box ul li.share-facebook a {
  background: url('../_imgs/layout/midias-facebook.jpg') center bottom no-repeat;
}
body header .superior .centro #share-box ul li.share-twitter a {
  background: url('../_imgs/layout/midias-twitter.jpg') center bottom no-repeat;
}
body header .superior .centro #share-box ul li.share-tumblr a {
  background: url('../_imgs/layout/midias-tumblr.jpg') center bottom no-repeat;
}
body header .superior .centro #share-box ul li.share-vimeo a {
  background: url('../_imgs/layout/midias-vimeo.jpg') center bottom no-repeat;
}
body header .superior .centro #share-box ul li.share-youtube a {
  background: url('../_imgs/layout/midias-youtube.png') center bottom no-repeat;
}
body header .superior .centro #share-box ul li a {
  text-indent: -99999px;
  display: block;
  width: 32px;
  height: 36px;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  -o-transition: background-position 0.3s ease-in-out;
  transition: background-position 0.3s ease-in-out;
}
body header .superior .centro #share-box ul li a:hover {
  background-position: center top;
}
body header .superior .centro nav {
  height: 18px;
  width: 600px;
  position: absolute;
  right: 0;
  bottom: -2px;
  text-align: right;
  font-size: 0;
}
body header .superior .centro nav ul {
  height: 16px;
  background-color: transparent;
}
body header .superior .centro nav ul li {
  line-height: 22px;
  height: 16px;
  padding: 0 15px;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border-right: 1px #24ada4 solid;
}
body header .superior .centro nav ul li a {
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #24ada4;
}
body header .superior .centro nav ul li a:active,
body header .superior .centro nav ul li a:visited {
  color: #24ada4;
}
body header .superior .centro nav ul li a:hover,
body header .superior .centro nav ul li a.ativo {
  color: #430e5d;
}
body header .superior .centro nav ul li.ultimo {
  border-right: none;
  padding-right: 0;
}
body header .inferior .centro {
  position: relative;
  height: 32px;
}
body header .inferior .centro nav {
  height: 32px;
  width: 605px;
  font-size: 0;
  position: absolute;
  right: 0;
  text-align: right;
}
body header .inferior .centro nav ul {
  height: 16px;
  margin-top: 8px;
}
body header .inferior .centro nav ul li {
  line-height: 22px;
  height: 16px;
  padding: 0 15px;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border-right: 1px #ceebe5 solid;
}
body header .inferior .centro nav ul li a {
  display: block;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body header .inferior .centro nav ul li a:active,
body header .inferior .centro nav ul li a:visited {
  color: #fff;
}
body header .inferior .centro nav ul li a:hover,
body header .inferior .centro nav ul li a.ativo {
  color: #430e5d;
}
body header .inferior .centro nav ul li.ultimo {
  border-right: none;
  padding-right: 0;
}
body header .submenu {
  width: 100%;
  height: 35px;
  margin-top: 5px;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #125160;
  line-height: 35px;
}
body header .submenu.inferior-sub {
  margin-top: 0;
}
body header .submenu.hid {
  margin-top: 0;
  height: 0;
  opacity: 0;
}
body header .submenu#sub-projeto ul {
  background-position: 765px -5px;
}
body header .submenu#sub-materiais ul {
  background-position: 920px -5px;
}
body header .submenu#sub-novidades ul {
  background-position: 688px -5px;
}
body header .submenu#sub-inspira ul {
  background-position: 555px -5px;
}
body header .submenu ul {
  background: url('../_imgs/layout/seta_marcadora_ver.png') 0 -5px no-repeat;
  text-align: right;
}
body header .submenu ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body header .submenu ul li a {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 0 20px;
  border-right: 1px #24ada4 solid;
}
body header .submenu ul li a:active,
body header .submenu ul li a:visited {
  color: #fff;
}
body header .submenu ul li a:hover,
body header .submenu ul li a.ativo {
  color: #24ada4;
}
body header .submenu ul li a.ultimo {
  border-right: none;
  padding-right: 0;
}
body .main {
  min-height: 1200px;
}
body .main.internas {
  font-size: 0;
  min-height: 665px;
  padding-bottom: 40px;
}
body .main.internas .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
body .main.internas .coluna.esquerda {
  width: 550px;
  margin-right: 10px;
}
body .main.internas .coluna.direita {
  width: 420px;
}
body .main.main-projeto .coluna.esquerda h1 {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #430e5d;
  line-height: 120%;
  width: 508px;
}
body .main.main-projeto .coluna.esquerda h2 {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
body .main.main-projeto .coluna.esquerda p {
  line-height: 160%;
  margin-top: 20px;
  width: 520px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
body .main.main-projeto .coluna.esquerda p.quote {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #125160;
  line-height: 180%;
  width: 410px;
  padding-right: 140px;
  background: url('../_imgs/layout/quote.png') right 10px no-repeat;
}
body .main.main-projeto .coluna.esquerda p.quote .txt-branco {
  color: #fff;
}
body .main.main-projeto .coluna.esquerda p.quote .maior {
  font-size: 24px;
}
body .main.main-projeto .coluna.esquerda .container {
  margin-top: 30px;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo {
  position: relative;
  display: block;
  padding: 20px 25px;
  height: 75px;
  width: 470px;
  background-color: #430e5d;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 25px;
  background: url('../_imgs/layout/caixa_download.png') #430e5d 245px center no-repeat;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo p {
  position: absolute;
  top: 37px;
  left: 25px;
  width: 220px;
  margin: 0;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo.primeiro p {
  top: 25px;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo:active,
body .main.main-projeto .coluna.esquerda .container .link-roxo:visited {
  color: #fff;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo:hover {
  background-color: #213f53;
}
body .main.main-projeto .coluna.esquerda .container .link-roxo .verde {
  position: absolute;
  top: 40px;
  right: 25px;
  text-align: center;
  display: block;
  float: right;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #B9DCE3;
  line-height: 140%;
}
body .main.main-projeto .coluna.direita #caixa-azul {
  min-height: 383px;
  padding-top: 418px;
  background: url('../_imgs/layout/imagem2_desafios.png') left 28px no-repeat;
}
body .main.main-projeto .coluna.direita #caixa-azul div {
  background-color: #b9dce3;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  behavior: url('PIE.htc');
  padding: 30px;
  width: 300px;
}
body .main.main-projeto .coluna.direita #caixa-azul div p {
  width: 300px;
  margin-bottom: 20px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #213f53;
}
body .main.main-projeto .coluna.direita #caixa-azul div p a {
  font-weight: bold;
  color: #430e5d;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main.main-projeto .coluna.direita #caixa-azul div p a:active,
body .main.main-projeto .coluna.direita #caixa-azul div p a:visited {
  color: #430e5d;
}
body .main.main-projeto .coluna.direita #caixa-azul div p a:hover {
  color: #fff;
}
body .main.main-projeto .coluna.direita h2 {
  color: #430e5d;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
}
body .main.main-projeto .coluna.direita h2.comgota {
  margin-top: 30px;
  width: 310px;
  min-height: 200px;
  padding: 94px 40px 86px 30px;
  text-align: center;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 35px;
  font-weight: bold;
  line-height: 180%;
  color: #125160;
  background: url('../_imgs/layout/bg-apoio-gota.png') left top no-repeat;
}
body .main.main-projeto .coluna.direita p.padrao {
  line-height: 160%;
  margin-top: 20px;
  width: 420px;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}
body .main .barra-share-large {
  height: 40px;
  width: 640px;
  background: #b9dce3;
  position: relative;
}
body .main .barra-share-large.fullwidth {
  width: 100%;
}
body .main .barra-share-large.halfwidth .compartilhe {
  display: none;
}
body .main .barra-share-large.halfwidth a.link-download {
  font-size: 0;
}
body .main .barra-share-large.semiwidth .compartilhe {
  display: none;
}
body .main .barra-share-large a.link-download {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  line-height: 45px;
  width: 168px;
  display: block;
  color: #213f53;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-left: 50px;
  background: url('../_imgs/layout/caixa_download_pequena.png') 15px 3px no-repeat;
}
body .main .barra-share-large a.link-download:active,
body .main .barra-share-large a.link-download:visited {
  color: #213f53;
}
body .main .barra-share-large .compartilhe {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #213f53;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 110px;
  width: 135px;
}
body .main .barra-share-large ul {
  position: absolute;
  top: 0;
  right: 10px;
  height: 40px;
  list-style: none;
  font-size: 0;
}
body .main .barra-share-large ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25px;
  height: 40px;
  margin-left: 3px;
}
body .main .barra-share-large ul li.share-email a {
  background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;
}
body .main .barra-share-large ul li.share-facebook a {
  background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;
}
body .main .barra-share-large ul li.share-twitter a {
  background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;
}
body .main .barra-share-large ul li.share-tumblr a {
  background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;
}
body .main .barra-share-large ul li a {
  text-indent: -99999px;
  display: block;
  width: 28px;
  height: 40px;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  -o-transition: background-position 0.3s ease-in-out;
  transition: background-position 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body .main .barra-share-large ul li a:hover {
  background-position: center 5px;
}
body footer {
  padding: 10px 0 30px 0;
  border-top: 2px #4bc2bb solid;
  background-color: #24ada4;
}
body footer .centro {
  position: relative;
}
body footer .centro ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  list-style: none;
  width: 193px;
  margin-right: 10px;
}
body footer .centro ul li {
  line-height: 110%;
}
body footer .centro ul li.pad {
  padding-left: 15px;
}
body footer .centro ul li a {
  line-height: 110%;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #6dcec8;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
body footer .centro ul li a:active,
body footer .centro ul li a:visited {
  color: #6dcec8;
}
body footer .centro ul li a:hover {
  color: #fff;
}
body footer .centro ul li.negrito {
  font-weight: bold;
}
body footer .centro ul li.negrito a {
  font-weight: bold !important;
}
body footer .centro ul li.espaco {
  margin-bottom: 20px;
}
body footer .centro #assinatura {
  position: absolute;
  left: 628px;
  top: 80px;
  line-height: 140%;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 11px;
  font-weight: normal;
  color: #6dcec8;
}
body footer .centro #assinatura a {
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  color: #6dcec8;
  border-bottom: 1px #24ada4 dotted;
}
body footer .centro #assinatura a:active,
body footer .centro #assinatura a:visited {
  color: #6dcec8;
}
body footer .centro #assinatura a:hover {
  color: #fff;
  border-bottom: 1px #fff dotted;
}
.qtip,
.qtip p {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif !important;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #FFFFFF !important;
  line-height: 130% !important;
  padding: 0 5px;
}
.qtip span {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif !important;
  font-size: 11px !important;
  font-weight: bold !important;
  color: #24ada4 !important;
}
#separador {
  margin: 40px 0;
  width: 520px;
  height: 1px;
  background-color: #4bc2bb;
}
.basico h1 {
  color: #430e5d;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: bold;
}
.basico h2 {
  color: #FFF;
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
}
#app-store {
  position: relative;
  width: 280px;
  height: 90px;
}
#app-store .overlay {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  opacity: 0;
  height: 0;
  position: absolute;
  background-color: rgba(33, 63, 83, 0.7);
  width: 280px;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  left: 0;
  top: 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  behavior: url('PIE.htc');
}
#app-store:hover .overlay {
  opacity: 1;
  height: 90px;
  line-height: 90px;
}
