@import 'vars.less';

body{
	background-color:@verde_principal;
	header{
		background-color:@verde_principal;
		//min-height:223px;
		padding-bottom:50px;
		.superior{
			width:100%;
			background-color:#fff;
			.centro{
				min-height:180px;
				position:relative;
				// Logos temporários
				&.pt{ background:url('../_imgs/layout/logo_pt.png') #fff left bottom no-repeat; }
				&.es{ background:url('../_imgs/layout/logo_es.png') #fff left bottom no-repeat; }
				&.en{ background:url('../_imgs/layout/logo_en.png') #fff left bottom no-repeat; }
				#language-box{
					position:absolute;
					top:0;
					left:0;
					height:25px;
					ul{
						font-size:0;
						border-left:1px @verde_principal dashed;
						li{
							height:25px;
							.inline;
							a{
								.verdana(10px, bold);
								text-align:center;
								height:25px;
								padding:0 10px;
								line-height:25px;
								display:block;
								background-color:#fff;
								border-top:1px @verde_principal dashed;
								border-bottom:1px @verde_principal dashed;
								border-right:1px @verde_principal dashed;
								border-left:none;
								color:@verde_principal;
								.transition;
								&:active, &:visited{ color:@verde_principal; }
								&:hover, &.ativo{
									cursor:pointer;
									background-color:@verde_clarinho;
								}
							}
						}
					}
				}
				#share-box{
					position:absolute;
					top:0;
					right:0;
					padding-top:20px;
					text-align:right;
					width:270px;
					.caecilia(15px, bold);
					height:87px;
					line-height:120%;
					color:@verde_principal;
					ul{
						width:270px;
						list-style:none;
						font-size:0;
						padding-top:5px;
						li{
							.inline;
							width:32px;
							height:36px;
							margin-left:3px;
							&.share-email a{ background: url('../_imgs/layout/midias-email.jpg') center bottom no-repeat; }
							&.share-facebook a{ background: url('../_imgs/layout/midias-facebook.jpg') center bottom no-repeat; }
							&.share-twitter a{ background: url('../_imgs/layout/midias-twitter.jpg') center bottom no-repeat; }
							&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr.jpg') center bottom no-repeat; }
							&.share-vimeo a{ background: url('../_imgs/layout/midias-vimeo.jpg') center bottom no-repeat; }
							&.share-youtube a{ background: url('../_imgs/layout/midias-youtube.png') center bottom no-repeat; }
							a{
								text-indent:-99999px;
								display: block;
								width:32px;
								height:36px;
								.transition(background-position, .3s, ease-in-out);
								&:hover{
									background-position:center top;
								}
							}
						}
					}
				}
				nav{
					height:18px;
					width:600px;
					position:absolute;
					right:0;
					bottom:-2px;
					text-align:right;
					font-size:0;
					ul{
						height:16px;
						background-color: transparent;
						li{
							line-height:22px;
							height:16px;
							padding:0 15px;
							.caecilia(18px, bold);
							.inline;
							border-right:1px @verde_principal solid;
							a{
								display:block;
								.transition;
								color:@verde_principal;
								&:active, &:visited{ color:@verde_principal; }
								&:hover, &.ativo{
									color:@roxo;
								}
							}	
							&.ultimo{
								border-right:none;
								padding-right:0;
							}
						}
					}
				}
			}
		}
		.inferior{
			.centro{
				position:relative;
				height:32px;
				nav{
					height:32px;
					width:605px;
					font-size:0;
					position:absolute;
					right:0;
					text-align:right;
					ul{
						height:16px;
						margin-top:8px;
						li{
							line-height:22px;
							height:16px;
							padding:0 15px;
							.caecilia(18px, bold);
							.inline;
							border-right:1px @verde_clarinho solid;
							a{
								display:block;
								color:#fff;
								.transition;
								&:active, &:visited{ color:#fff; }
								&:hover, &.ativo{
									color:@roxo;
								}
							}
							&.ultimo{
								border-right:none;
								padding-right:0;
							}
						}
					}
				}
			}
		}
		.submenu{
			width:100%;
			height:35px;
			margin-top:5px;
			&.inferior-sub{
				margin-top:0;
			}
			overflow:hidden;
			opacity:1;
			.transition;
			&.hid{
				margin-top:0;
				height:0;
				opacity:0;
			}
			background:@verde_submenu;
			&#sub-projeto ul{ background-position:765px -5px; }
			&#sub-materiais ul{ background-position:920px -5px; }
			&#sub-novidades ul{ background-position:688px -5px; }
			&#sub-inspira ul{ background-position:555px -5px; }
			line-height:35px;
			ul{
				background:url('../_imgs/layout/seta_marcadora_ver.png') 0 -5px no-repeat;
				text-align:right;
				li{
					.inline;
					a{
						.caecilia(15px, bold);
						color:#fff;
						.transition;
						padding:0 20px;
						border-right:1px @verde_principal solid;
						&:active, &:visited{ color:#fff; }
						&:hover, &.ativo{
							color:@verde_principal;
						}
						&.ultimo{
							border-right:none;
							padding-right:0;
						}
					}
				}
			}
		}
	}
	
	.main{
		min-height:1200px;
		&.internas{
			font-size:0;
			min-height:665px;
			padding-bottom:40px;
			.coluna{
				.inline;
				&.esquerda{
					width:550px;
					margin-right:10px;
				}
				&.direita{ width:420px; }
			}
		}
		&.main-projeto{
			.coluna{
				&.esquerda{
					h1{
						.caecilia(30px, bold);
						color:@roxo;
						line-height:120%;
						width:508px;
					}
					h2{
						.caecilia(24px, bold);
						color:#fff;						
					}
					p{
						line-height:160%;
						margin-top:20px;
						width:520px;
						.verdana(14px);
						color:#fff;
						&.quote{
							.caecilia(18px, bold);
							color:@verde_submenu;
							line-height:180%;
							width:410px;
							padding-right:140px;
							background:url('../_imgs/layout/quote.png') right 10px no-repeat;
							.txt-branco{ color:#fff; }
							.maior{ font-size:24px; }
						}
					}
					.container{
						margin-top:30px;
						.link-roxo{
							position:relative;
							display:block;
							padding:20px 25px;
							height:75px;
							width:470px;
							background-color:@roxo;
							.verdana(14px);
							color:#fff;
							.transition;
							margin-bottom:25px;
							background:url('../_imgs/layout/caixa_download.png') @roxo 245px center no-repeat;
							p{
								position:absolute;
								top:37px;
								left:25px;
								width:220px;
								margin:0;
							}
							&.primeiro p{ top:25px; }
							&:active, &:visited{color:#fff;}
							&:hover{ background-color:@azul_escuro; }
							.verde{
								position:absolute;
								top:40px;
								right:25px;
								text-align:center;
								display:block;
								float:right;
								.verdana(13px, bold);
								color:#B9DCE3;
								line-height:140%;								
							}
						}
					}
				}
				&.direita{
					#caixa-azul{
						min-height:383px;
						padding-top:418px;
						background:url('../_imgs/layout/imagem2_desafios.png') left 28px no-repeat;
						div{
							background-color:@azul_clarinho;
							.arredondada(25px);
							padding:30px;
							width:300px;
							p{
								width:300px;
								margin-bottom:20px;
								.verdana(14px);
								color:@azul_escuro;
								a{
									font-weight:bold;
									color:@roxo;
									.transition;
									&:active, &:visited{color:@roxo;}
									&:hover{
										color:#fff;
									}
								}
							}
						}
					}
					h2{
						color:@roxo;
						.caecilia(24px, bold);
						&.comgota{
							margin-top:30px;
							width:310px;
							min-height:200px;
							padding:94px 40px 86px 30px;
							text-align:center;
							.caecilia(35px, bold);
							line-height:180%;
							color:#125160;
							background:url('../_imgs/layout/bg-apoio-gota.png') left top no-repeat;
						}
					}
					p.padrao{
						line-height:160%;
						margin-top:20px;
						width:420px;
						.verdana(14px);
						color:#fff;						
					}
				}
			}
		}

		.barra-share-large{
			height:40px;
			width:640px;
			background:@azul_clarinho;
			position:relative;
			&.fullwidth{ width:100%; }
			&.halfwidth{
				.compartilhe{ display:none; }
				a.link-download{
					font-size:0;
				}
			}
			&.semiwidth{
				.compartilhe{ display:none; }
			}
			a.link-download{
				position:absolute;
				top:0;
				left:0;
				height:40px;
				line-height:45px;
				width:168px;
				display:block;
				color:@azul_escuro;
				.caecilia(18px, bold);
				padding-left:50px;
				background:url('../_imgs/layout/caixa_download_pequena.png') 15px 3px no-repeat;
				//.transition;
				&:active, &:visited{ color:@azul_escuro; }
				&:hover{

				}
			}
			.compartilhe{
				.caecilia(18px, bold);
				color:@azul_escuro;
				height:40px;
				line-height:40px;
				position:absolute;
				top:0;
				right:110px;
				width:135px;
			}
			ul{
				position:absolute;
				top:0;
				right:10px;
				height:40px;
				list-style:none;
				font-size:0;
				li{
					.inline;
					width:25px;
					height:40px;
					margin-left:3px;
					&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
					&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
					&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
					&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
					a{
						text-indent:-99999px;
						display: block;
						width:28px;
						height:40px;
						.transition(background-position, .3s, ease-in-out);
						.transition;
						&:active, &:visited{}
						&:hover{
							background-position:center 5px;
						}
					}
				}
			}
		}

	}

	footer{
		padding:10px 0 30px 0;
		border-top:2px @verde_linhas solid;
		background-color:@verde_principal;
		.centro{
			position:relative;
			ul{
				.inline;
				list-style:none;
				width:193px;
				margin-right:10px;
				li{
					line-height:110%;
					&.pad{ padding-left:15px; }
					a{
						line-height:110%;
						.verdana(13px);
						color:@verde_rodape;
						.transition;
						&:active, &:visited{color:@verde_rodape;}
						&:hover{
							color:#fff;
						}
					}
					&.negrito{ font-weight:bold; a{ font-weight:bold !important; } }
					&.espaco{ margin-bottom:20px; }
				}
			}
			#assinatura{
				position:absolute;
				left:628px;
				top:80px;
				line-height:140%;
				.verdana(11px);
				color:@verde_rodape;
				a{
					.transition;
					color:@verde_rodape;	
					border-bottom:1px @verde_principal dotted;
					&:active, &:visited{color:@verde_rodape;}
					&:hover{
						color:#fff;
						border-bottom:1px #fff dotted;
					}
				}
			}
		}
	}
}

.qtip,
.qtip p{
	.caecilia(11px, bold) !important;
	color:#FFFFFF !important;
	line-height:130% !important;
	padding:0 5px;
}
.qtip span{
	.caecilia(11px, bold) !important;
	color:@verde_principal !important;
}

#separador{
	margin:40px 0;
	width:520px;
	height:1px;
	background-color:#4bc2bb;
}

.basico{
	h1{
		color:@roxo;
		.caecilia(22px, bold);
	}
	h2{
		color:#FFF;
		.verdana(16px, bold);
	}
}

#app-store{
	position:relative;
	width:280px;
	height:90px;
	.overlay{
		.verdana(16px, bold);
		color:#fff;
		text-align:center;
		opacity:0;
		height:0;
		position:absolute;
		background-color:rgba(33,63,83,.7);
		width:280px;
		.transition;
		left:0;
		top:0;
		.arredondada(6px);
	}
	&:hover{
		.overlay{
			opacity:1;
			height:90px;
			line-height:90px;
		}
	}
}