.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
.main .centro{background:url('../_imgs/layout/img-contato.png') right top no-repeat;}.main .centro h1{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;color:#430e5d;line-height:100%;}
.main .centro .form{width:400px;}.main .centro .form form{padding:20px 0;}.main .centro .form form label{display:block;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#430e5d;text-indent:10px;margin-bottom:10px;}.main .centro .form form label input[type="text"],.main .centro .form form label input[type="email"],.main .centro .form form label textarea{width:400px;background-color:#5DC8C2;padding:5px 10px;width:380px;height:20px;line-height:20px;border:0;margin:0;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#430e5d;}
.main .centro .form form label textarea{height:190px;resize:none;overflow:auto;}
.main .centro .form form label.check{text-indent:0;padding:8px 12px;background-color:#5DC8C2;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');}.main .centro .form form label.check label{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin:5px 0 0 0;height:20px;width:70px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#430e5d;}
.main .centro .form form input[type="submit"]{width:400px;text-align:center;height:50px;line-height:50px;border:0;margin:0;padding:0;-webkit-border-radius:7px;-moz-border-radius:7px;-o-border-radius:7px;border-radius:7px;behavior:url('PIE.htc');background-color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#24ada4;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .centro .form form input[type="submit"]:hover{cursor:pointer;background-color:#213f53;color:#fff;}
#resposta{display:none;width:386px;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');background-color:#ceebe5;color:#00897b;margin:10px 0;padding:7px;}
