@import 'vars.less';

.main{
	.centro{
		background:url('../_imgs/layout/img-contato.png') right top no-repeat;
		h1{
			.caecilia(30px, bold);
			color:@roxo;
			line-height:100%;
		}
		.form{
			width:400px;
			form{
				padding:20px 0;
				label{
					display:block;
					.verdana(12px);
					color:@roxo;
					text-indent: 10px;
					margin-bottom:10px;
					input[type="text"],
					input[type="email"],
					textarea{
						width:400px;
						background-color:#5DC8C2;
						padding:5px 10px;
						width:380px;
						height:20px;
						line-height:20px;
						border:0;
						margin:0;
						.arredondada(6px);
						.verdana(14px);
						color:@roxo;
					}
					textarea{
						height:190px;
						resize:none;
						overflow:auto;
					}
					&.check{
						text-indent: 0;
						padding:8px 12px;
						background-color:#5DC8C2;
						.arredondada(6px);
						label{
							.inline;
							margin:5px 0 0 0;
							height:20px;
							width:70px;
							.verdana(12px, bold);
							color:@roxo;
						}
					}
				}
				input[type="submit"]{
					width:400px;
					text-align:center;
					height:50px;
					line-height:50px;
					border:0;
					margin:0;
					padding:0;
					.arredondada(7px);
					background-color:@roxo;
					.caecilia(14px, bold);
					color:@verde_principal;
					.transition;
					&:hover{
						cursor:pointer;
						background-color:@azul_escuro;
						color:#fff;
					}
				}
			}
		}
	}
}

#resposta{
	display:none;
	width:386px;
	text-align:center;
	.caecilia(20px, bold);
	.arredondada(6px);
	background-color:@verde_clarinho;
	color:@verde_escuro;
	margin:10px 0;
	padding:7px;
}