@import 'vars.less';

.main{
	border-top:2px @verde_linhas solid;
	#faixa-slides{
		border-bottom:2px @verde_linhas solid;
		height:424px;
		.centro{
			margin-top:-36px;
			position:relative;
			#animate{
				position:absolute;
				.slide{
					position:absolute;
					z-index:999;
					.frase{
						position:absolute;
						top:325px;
						z-index:99999;
						left:0;
						background-color: rgba(67,14,93,.85);
						a{
							padding:2px 20px;
							.caecilia(36px, bold);
							color:#fff;	
							max-width:500px;
							line-height:130%;
							display:block;
							.transition;
							&:active, &:visited{ color:#fff; }
							&:hover{
								background-color:@verde_principal;
							}
						}
						
					}
				}
			}						
			#chamada{
				width:350px;
				min-height:380px;
				position:absolute;
				z-index:992;
				top:0;
				right:0;
				.conteudo-chamada{
					background-color:@azul_clarinho;
					color:@roxo;
					.arredondada(20px);
					padding:20px;
					text-align: center;
					h2{
						.caecilia(22px, bold);
						line-height:140%;
						margin-bottom:15px;
					}
					p{
						.caecilia(14px, bold);	
						line-height:190%;
					}
					a{
						padding:10px 0;
						line-height:130%;
						display:block;
						width:246px;
						margin:13px auto 0 auto;
						background-color: #125160;
						.arredondada(8px);
						.caecilia(20px, bold);
						color:#fff;
						.transition;
						&:active, &:visited{color:#fff;}
						&:hover{
							background-color: @roxo;
						}
					}
				}
			}
		}
	}
	#paginacao{
		height:120px;
		.centro{
			.pad{
				padding-top:10px;
				padding-left:515px !important;
				a{
					.inline;
					position:relative;
					z-index:99999999;
					width:16px;
					height:16px;
					margin:0 2px;
					background-color:@azul_clarinho;
					.arredondada(16px);
					.transition;
					&:active, &:visited{}
					&:hover, &.activeSlide{
						background-color:@roxo;
						cursor:pointer;
					}
				}
			}
		}
	}
}
#faixa-materiais{
	font-size:0;
	border-bottom:2px @verde_linhas solid;
	padding-bottom:20px;
	padding-top:3px;
	.caixa-texto{
		.inline;
		h2{
			.caecilia(23px, bold);
		}
		color:#fff;
		.caecilia(14px, bold);
		text-align:right;
		padding-top:47px;
		width:322px;
		margin-right:28px;
	}
	.caixa-links{
		.inline;
		width:630px;
		&.noipad{
			a{
				width:150px;
				.inline;
				.transition;
				margin-right:10px;
				position:relative;
				&.semmargem{ margin-right:0; }
				.imagem{
					width:150px;
					height:150px;
					position:absolute;
					img{
						width:150px;
						height:150px;
						.arredondada(10px);
					}
				}
				.texto{
					.transition;
					opacity:0;
					width:140px;
					height:90px;
					position:absolute;
					margin:5px;
					color:#fff;
					.caecilia(16px, bold);
					.arredondada(8px);
					padding-top:50px;
					line-height:130%;
					text-align:center;
					background-color:rgba(67,14,93,.85);
				}
				&:active, &:visited{ color:#fff; }
				&:hover{
					.texto{
						opacity:1;
					}
				}
			}
		}
		&.ipad{
			a{
				width:150px;
				.inline;
				.transition;
				margin-right:10px;
				position:relative;
				color:@roxo;
				&.semmargem{ margin-right:0; }
				.imagem{
					width:150px;
					height:150px;
					margin-bottom:4px;
					img{
						.arredondada(10px);
					}
				}
				.texto{
					line-height:130%;
					text-align:center;
					.caecilia(16px, bold);
				}
				&:active, &:visited{color:@roxo;}
			}
		}
	}
}
#faixa-interacao{
	font-size:0;
	.coluna{
		.inline;
		padding-bottom:40px;
		&.esquerda{
			width:350px;
			margin-right:28px;
			padding-top:28px;
			a.chamada-cartilha{
				width:330px;
				display:block;
				margin-bottom:40px;
				h3{
					.transition;
					.caecilia(21px, bold);
					line-height:130%;
					text-align:center;
					color:@roxo;
				}
				img{
					.transition;
					margin:14px 0;
					border:5px @roxo solid;
					.arredondada(20px);
				}
				p{
					.transition;
					.caecilia(14px, bold);
					color:@roxo;
					text-align:center;
				}
				.transition;
				&:active, &:visited{ h3, p{ color:@roxo; }}
				&:hover{
					h3, p { color:#fff; }
					img{ border:5px #fff solid; }
				}
			}
			#caixa-twitter{
				width:350px;
				position:relative;
				min-height:350px;
				#fundo-azul{
					position:absolute;
					z-index:-1;
					top:0;
					width:350px;
					height:350px;
					.arredondada(350px 40px 350px 350px);
					background-color:@azul_claro;
				}
				.coluna-esquerda{
					.inline;
					padding-top:95px;
					width:115px;
					text-align:center;
					.caecilia(16px, bold);
					background:url('../_imgs/layout/bg-twitter.png') center 7px no-repeat;
					h4{
						margin-bottom:10px;
					}
				}
				.coluna-direita{
					.inline;
					width:235px;
					padding-top:17px;
					&#lista-tweets{
						.jtwt_tweet{
							margin-bottom:10px;
							width:220px;
							p.jtwt_tweet_text{
								.caecilia(13px, bold);
								color:#fff;
								a{
									.arial(12px, bold);
									color:@azul_escuro;
									.transition;
									&:active, &:visited{color:@azul_escuro;}
									&:hover{
										color:@verde_escuro;
									}
								}
							}
							.jtwt_date{
								.verdana(10px);
								color:@azul_escuro;
							}
						}
					}
				}
			}
		}
		&.direita{
			width:602px;
			.chamadas{
				background:url('../_imgs/layout/bg-branco-home.png') center -1px no-repeat;
				padding-left:35px;
				width:567px;
				min-height:533px;
				h2{
					.caecilia(36px, bold);
					color:@verde_principal;
					padding:20px 0 20px 32px;
					line-height:110%;
				}
				a.chamada-home{
					display: block;
					margin-bottom:24px;
					width:480px;
					h3{
						.caecilia(24px, bold);
						color:@roxo;
						margin-bottom:2px;
					}
					img{
						.inline;
						.transition;
						border:4px transparent solid;
						margin-right:15px;
						.arredondada(15px);
					}
					.texto{
						.inline;
						width:223px;
						p{
							.verdana(12px);
							color:@roxo;
							&.titulo{
								font-weight:bold;
								min-height:23px;
							}
						}
						p.saiba-mais{
							display: block;
							color:@verde_principal;
							.caecilia(16px, bold);
							margin-top:10px;
							.transition;
						}
					}
					&:hover{
						img{ border-color:@roxo; }
						p.saiba-mais{ color:@roxo; }
					}
				}
			}
			#facebook-like{
				padding:10px;
				margin:35px 0;
				background-color:#fff;
			}
			#caixa-newsletter{
				h4{
					line-height:150%;
					margin-bottom:10px;
					padding-left:42px;
					width:375px;
					background:url('../_imgs/layout/midias-email-transp.png') left center no-repeat;
					.caecilia(20px, bold);
					color:@azul_escuro;
				}
				form{
					width:602px;
					height:36px;
					overflow:hidden;
					position:relative;
					#move-newsletter{
						&.hid{
							margin-top:-36px;
						}
						.transition;
						width:602px;
						height:36px;
						input[type="text"],
						input[type="email"]{
							padding:5px 5px 5px 18px;
							height:25px;
							line-height:25px;
							background-color:@azul_escuro;
							.arredondada(6px);
							color:@azul_claro;
							border:0;
							margin:0 5px 0 0;
							.verdana(16px);
							width:235px;
							.placeholder(@azul_claro);
							.inline;
						}
						input[type="submit"]{
							.inline;
							.arredondada(6px);
							width:76px;
							margin:0;
							margin-top:-1px;
							padding:0;
							text-align:center;
							height:35px;
							line-height:35px;
							.verdana(12px, bold);
							color:@verde_principal;
							border:0;
							background:@azul_escuro;
							.transition;
							&:hover{
								cursor:pointer;
								background-color: #fff;
							}
						}
					}
					#resposta-newsletter{
						.transition;
						width:602px;
						height:36px;
						line-height:36px;
						.caecilia(18px, bold);
						color:#fff;
						text-align:center;
						background-color:@azul_escuro;
						.arredondada(6px);
					}
				}
			}
		}
	}

}