.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
.main{border-top:2px #4bc2bb solid;}.main #faixa-slides{border-bottom:2px #4bc2bb solid;height:424px;}.main #faixa-slides .centro{margin-top:-36px;position:relative;}.main #faixa-slides .centro #animate{position:absolute;}.main #faixa-slides .centro #animate .slide{position:absolute;z-index:999;}.main #faixa-slides .centro #animate .slide .frase{position:absolute;top:325px;z-index:99999;left:0;background-color:rgba(67, 14, 93, 0.85);}.main #faixa-slides .centro #animate .slide .frase a{padding:2px 20px;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:36px;font-weight:bold;color:#fff;max-width:500px;line-height:130%;display:block;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #faixa-slides .centro #animate .slide .frase a:active,.main #faixa-slides .centro #animate .slide .frase a:visited{color:#fff;}
.main #faixa-slides .centro #animate .slide .frase a:hover{background-color:#24ada4;}
.main #faixa-slides .centro #chamada{width:350px;min-height:380px;position:absolute;z-index:992;top:0;right:0;}.main #faixa-slides .centro #chamada .conteudo-chamada{background-color:#b9dce3;color:#430e5d;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');padding:20px;text-align:center;}.main #faixa-slides .centro #chamada .conteudo-chamada h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:22px;font-weight:bold;line-height:140%;margin-bottom:15px;}
.main #faixa-slides .centro #chamada .conteudo-chamada p{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;line-height:190%;}
.main #faixa-slides .centro #chamada .conteudo-chamada a{padding:10px 0;line-height:130%;display:block;width:246px;margin:13px auto 0 auto;background-color:#125160;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #faixa-slides .centro #chamada .conteudo-chamada a:active,.main #faixa-slides .centro #chamada .conteudo-chamada a:visited{color:#fff;}
.main #faixa-slides .centro #chamada .conteudo-chamada a:hover{background-color:#430e5d;}
.main #paginacao{height:120px;}.main #paginacao .centro .pad{padding-top:10px;padding-left:515px !important;}.main #paginacao .centro .pad a{display:inline-block;*display:inline;zoom:1;vertical-align:top;position:relative;z-index:99999999;width:16px;height:16px;margin:0 2px;background-color:#b9dce3;-webkit-border-radius:16px;-moz-border-radius:16px;-o-border-radius:16px;border-radius:16px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main #paginacao .centro .pad a:hover,.main #paginacao .centro .pad a.activeSlide{background-color:#430e5d;cursor:pointer;}
#faixa-materiais{font-size:0;border-bottom:2px #4bc2bb solid;padding-bottom:20px;padding-top:3px;}#faixa-materiais .caixa-texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;text-align:right;padding-top:47px;width:322px;margin-right:28px;}#faixa-materiais .caixa-texto h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:23px;font-weight:bold;}
#faixa-materiais .caixa-links{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:630px;}#faixa-materiais .caixa-links.noipad a{width:150px;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin-right:10px;position:relative;}#faixa-materiais .caixa-links.noipad a.semmargem{margin-right:0;}
#faixa-materiais .caixa-links.noipad a .imagem{width:150px;height:150px;position:absolute;}#faixa-materiais .caixa-links.noipad a .imagem img{width:150px;height:150px;-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;behavior:url('PIE.htc');}
#faixa-materiais .caixa-links.noipad a .texto{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;opacity:0;width:140px;height:90px;position:absolute;margin:5px;color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;-webkit-border-radius:8px;-moz-border-radius:8px;-o-border-radius:8px;border-radius:8px;behavior:url('PIE.htc');padding-top:50px;line-height:130%;text-align:center;background-color:rgba(67, 14, 93, 0.85);}
#faixa-materiais .caixa-links.noipad a:active,#faixa-materiais .caixa-links.noipad a:visited{color:#fff;}
#faixa-materiais .caixa-links.noipad a:hover .texto{opacity:1;}
#faixa-materiais .caixa-links.ipad a{width:150px;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin-right:10px;position:relative;color:#430e5d;}#faixa-materiais .caixa-links.ipad a.semmargem{margin-right:0;}
#faixa-materiais .caixa-links.ipad a .imagem{width:150px;height:150px;margin-bottom:4px;}#faixa-materiais .caixa-links.ipad a .imagem img{-webkit-border-radius:10px;-moz-border-radius:10px;-o-border-radius:10px;border-radius:10px;behavior:url('PIE.htc');}
#faixa-materiais .caixa-links.ipad a .texto{line-height:130%;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;}
#faixa-materiais .caixa-links.ipad a:active,#faixa-materiais .caixa-links.ipad a:visited{color:#430e5d;}
#faixa-interacao{font-size:0;}#faixa-interacao .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding-bottom:40px;}#faixa-interacao .coluna.esquerda{width:350px;margin-right:28px;padding-top:28px;}#faixa-interacao .coluna.esquerda a.chamada-cartilha{width:330px;display:block;margin-bottom:40px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#faixa-interacao .coluna.esquerda a.chamada-cartilha h3{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:21px;font-weight:bold;line-height:130%;text-align:center;color:#430e5d;}
#faixa-interacao .coluna.esquerda a.chamada-cartilha img{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;margin:14px 0;border:5px #430e5d solid;-webkit-border-radius:20px;-moz-border-radius:20px;-o-border-radius:20px;border-radius:20px;behavior:url('PIE.htc');}
#faixa-interacao .coluna.esquerda a.chamada-cartilha p{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#430e5d;text-align:center;}
#faixa-interacao .coluna.esquerda a.chamada-cartilha:active h3,#faixa-interacao .coluna.esquerda a.chamada-cartilha:visited h3,#faixa-interacao .coluna.esquerda a.chamada-cartilha:active p,#faixa-interacao .coluna.esquerda a.chamada-cartilha:visited p{color:#430e5d;}
#faixa-interacao .coluna.esquerda a.chamada-cartilha:hover h3,#faixa-interacao .coluna.esquerda a.chamada-cartilha:hover p{color:#fff;}
#faixa-interacao .coluna.esquerda a.chamada-cartilha:hover img{border:5px #fff solid;}
#faixa-interacao .coluna.esquerda #caixa-twitter{width:350px;position:relative;min-height:350px;}#faixa-interacao .coluna.esquerda #caixa-twitter #fundo-azul{position:absolute;z-index:-1;top:0;width:350px;height:350px;-webkit-border-radius:350px 40px 350px 350px;-moz-border-radius:350px 40px 350px 350px;-o-border-radius:350px 40px 350px 350px;border-radius:350px 40px 350px 350px;behavior:url('PIE.htc');background-color:#00ccff;}
#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-esquerda{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding-top:95px;width:115px;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;background:url('../_imgs/layout/bg-twitter.png') center 7px no-repeat;}#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-esquerda h4{margin-bottom:10px;}
#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:235px;padding-top:17px;}#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet{margin-bottom:10px;width:220px;}#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet p.jtwt_tweet_text{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:13px;font-weight:bold;color:#fff;}#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet p.jtwt_tweet_text a{font-family:'Arial',sans-serif;font-size:12px;font-weight:bold;color:#213f53;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet p.jtwt_tweet_text a:active,#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet p.jtwt_tweet_text a:visited{color:#213f53;}
#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet p.jtwt_tweet_text a:hover{color:#00897b;}
#faixa-interacao .coluna.esquerda #caixa-twitter .coluna-direita#lista-tweets .jtwt_tweet .jtwt_date{font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;color:#213f53;}
#faixa-interacao .coluna.direita{width:602px;}#faixa-interacao .coluna.direita .chamadas{background:url('../_imgs/layout/bg-branco-home.png') center -1px no-repeat;padding-left:35px;width:567px;min-height:533px;}#faixa-interacao .coluna.direita .chamadas h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:36px;font-weight:bold;color:#24ada4;padding:20px 0 20px 32px;line-height:110%;}
#faixa-interacao .coluna.direita .chamadas a.chamada-home{display:block;margin-bottom:24px;width:480px;}#faixa-interacao .coluna.direita .chamadas a.chamada-home h3{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;color:#430e5d;margin-bottom:2px;}
#faixa-interacao .coluna.direita .chamadas a.chamada-home img{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;border:4px transparent solid;margin-right:15px;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');}
#faixa-interacao .coluna.direita .chamadas a.chamada-home .texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:223px;}#faixa-interacao .coluna.direita .chamadas a.chamada-home .texto p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#430e5d;}#faixa-interacao .coluna.direita .chamadas a.chamada-home .texto p.titulo{font-weight:bold;min-height:23px;}
#faixa-interacao .coluna.direita .chamadas a.chamada-home .texto p.saiba-mais{display:block;color:#24ada4;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;margin-top:10px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
#faixa-interacao .coluna.direita .chamadas a.chamada-home:hover img{border-color:#430e5d;}
#faixa-interacao .coluna.direita .chamadas a.chamada-home:hover p.saiba-mais{color:#430e5d;}
#faixa-interacao .coluna.direita #facebook-like{padding:10px;margin:35px 0;background-color:#fff;}
#faixa-interacao .coluna.direita #caixa-newsletter h4{line-height:150%;margin-bottom:10px;padding-left:42px;width:375px;background:url('../_imgs/layout/midias-email-transp.png') left center no-repeat;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#213f53;}
#faixa-interacao .coluna.direita #caixa-newsletter form{width:602px;height:36px;overflow:hidden;position:relative;}#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:602px;height:36px;}#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter.hid{margin-top:-36px;}
#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="text"],#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="email"]{padding:5px 5px 5px 18px;height:25px;line-height:25px;background-color:#213f53;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');color:#00ccff;border:0;margin:0 5px 0 0;font-family:'Verdana','Arial',sans-serif;font-size:16px;font-weight:normal;width:235px;display:inline-block;*display:inline;zoom:1;vertical-align:top;}#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="text"]::-webkit-input-placeholder,#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="email"]::-webkit-input-placeholder{color:#00ccff;}
#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="text"]:-moz-placeholder,#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="email"]:-moz-placeholder{color:#00ccff;}
#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="text"]::-moz-placeholder,#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="email"]::-moz-placeholder{color:#00ccff;}
#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="text"]:-ms-input-placeholder,#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="email"]:-ms-input-placeholder{color:#00ccff;}
#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="submit"]{display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');width:76px;margin:0;margin-top:-1px;padding:0;text-align:center;height:35px;line-height:35px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#24ada4;border:0;background:#213f53;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#faixa-interacao .coluna.direita #caixa-newsletter form #move-newsletter input[type="submit"]:hover{cursor:pointer;background-color:#fff;}
#faixa-interacao .coluna.direita #caixa-newsletter form #resposta-newsletter{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:602px;height:36px;line-height:36px;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;color:#fff;text-align:center;background-color:#213f53;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');}
