@import 'vars.less';

.main{
	.borda{
		border-top:1px @verde_linhas solid;
	}
	.centro{
		padding:30px 0;
		font-size:0;
		h2{
			a{
				color:@verde_clarinho;
				.transition;
				&:active, &:visited{}
				&:hover{ color:@verde_submenu;}
			}
		}
		#down-inspira{
			float:left;
		}
		.metade{
			&.comfundo{ background:url('../_imgs/layout/img-hydros-inspira.png') 98% center no-repeat; }
			h1{
				color:@roxo;
				.caecilia(50px, bold);
				line-height: 140%;
			}
			h2{
				.caecilia(16px, bold);
				color:#95DBD7;
				line-height: 170%;
				width:640px;
				margin-bottom:15px;	
			}
			h3{
				margin-bottom:15px;	
				.caecilia(24px, bold);
				color:@roxo;
			}
			p{
				margin-bottom:15px;
				.caecilia(16px, bold);
				color:#fff;
				line-height: 160%;
				&.p-verdana{
					margin-top:20px;
					.verdana(16px);
					strong{
						.caecilia(16px, bold);
					}
				}
				a{
					color:@verde_clarinho;
					.transition;
					&:active, &:visited{}
					&:hover{ color:@verde_submenu;}
				}
			}
			&.fundo-img{
				&.pt{ background:url('../_imgs/layout/pegadahydros-pt.png') 15px top no-repeat; }
				&.en{ background:url('../_imgs/layout/pegadahydros-en.png') 15px top no-repeat; }
				&.es{ background:url('../_imgs/layout/pegadahydros-es.png') 15px top no-repeat; }
				padding-top:155px;
				a{
					width:280px;
					height:90px;
					display:block;
					float:right;
					margin-bottom:10px;
				}
				#google-play{ background:url('../_imgs/layout/botao-google-play.png') center center no-repeat; }
				#app-store{ background:url('../_imgs/layout/botao-itunes.png') center center no-repeat; }
			}
			&.fundo-img2{
				width:425px;
				min-height:430px;
				background:url('../_imgs/layout/game-pegadahydros.png') 20px top no-repeat;
			}
			&.largo{
				width:555px;
				margin-left:489px;
				margin-bottom: 30px;
				min-height:380px;
			}
			&.resultado-premio{
				h4{
					color:@roxo;
					.caecilia(16px);
				}
				a{
					color:#fff;
					.caecilia(14px);
					margin:0 20px 20px 0;
					.inline;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						color:@verde_escuro;
					}
				}
			}
			&.aqua{
				background:none;
				h1{
					font-size: 34px;
				}
				p{
					.verdana(14px);
					color:#fff;
				}
				.links{
					margin-top:50px;
					.edicao{
						.inline;
						width:200px;
						margin:0 20px 40px 0;
						color:@roxo;
						.caecilia(20px);
						img{
							display:block;
							width:200px;
							margin:0;
						}
						.barra-share-small{
							height:40px;
							width:200px;
							background:@azul_clarinho;
							margin:0 0 5px 0;
							position:relative;
							.link-download{
								position:absolute;
								top:0;
								left:0;
								height:40px;
								display:block;
								width:62px;
								background:url('../_imgs/layout/caixa_download_pequena.png') 9px 4px no-repeat;
								.transition;
							}
							ul{
								position:absolute;
								top:0;
								right:10px;
								height:40px;
								list-style:none;
								font-size:0;
								li{
									.inline;
									width:25px;
									height:40px;
									margin-left:3px;
									&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
									&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
									&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
									&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
									a{
										text-indent:-99999px;
										display: block;
										width:28px;
										height:40px;
										.transition(background-position, .3s, ease-in-out);
										.transition;
										&:active, &:visited{}
										&:hover{
											background-position:center 5px;
										}
									}
								}
							}
						}
					}
				}
			}
			&.menuinspira{
				a{
					color:#fff;
					.caecilia(16px);
					margin: 0 40px 40px 0;
					text-align: center;
					width: 300px;
					.inline;
					.transition;
					&:active, &:visited{color:#fff;}
					&:hover{
						color:@verde_escuro;
					}
					&.ultimo { margin: 0; }
				}			
			}
			&.concursocultural{
				background:none;
				min-height: 80px;
				img {
					width: 242px;
					height: 180px;
					float: left;
					margin-right: 50px;
				}
				h2 {
					width: 100%;
					min-height: 200px;
				}
				.concurso-download {
					width: 170px;
					height: 40px;
					float: left;
					font-size: 18px;
					font-weight: bold;
					margin-right: 20px;
					line-height: 45px;
					font-family: 'Caecilia','Rokkitt','Verdana','Arial',sans-serif;
					padding-left: 50px;
					background: url('../_imgs/layout/caixa_download_pequena.png') 15px 3px no-repeat #b9dce3;
					a {
						color: #213f53;
					}
				}
				.concurso-video {
					width: 200px;
					font-size: 20px;
					margin: 20px 0;
					display: block;
					line-height: 60px;
					height: 60px;
					text-align: center;
					background-color: #213f53;
					color: #00ccff;
					font-family: 'Caecilia','Rokkitt','Verdana','Arial',sans-serif;
				}
			}
			.musicaplaneta {
				h4{
				color:@roxo;
				.caecilia(26px, bold);
				margin: 35px 0 5px;
				}
				p{
				margin-bottom:5px;
				.verdana(14px);
				color:#fff;
				line-height: 160%;
				&.estrofe {
					margin-bottom: 20px;
					}
				}
			}
			}
		}
	}

.compartilhar-inspira{
	.caecilia(20px, bold);
	color:#fff;
	width:120px;
	line-height:120%;
	float:right;
	text-align:center;
	ul{
		.inline;
		width:112px;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.primeiro{ margin-left:0; }
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}	
}

.barra-share-large{
	height:40px;
	width:640px;
	background:@azul_clarinho;
	position:relative;
	&.fullwidth{ width:100%; }
	&.halfwidth{
		.compartilhe{ display:none; }
		a.link-download{
			font-size:0;
		}
	}
	&.semiwidth{
		.compartilhe{ display:none; }
	}
	a.link-download{
		position:absolute;
		top:0;
		left:0;
		height:40px;
		line-height:45px;
		width:168px;
		display:block;
		color:@azul_escuro;
		.caecilia(18px, bold);
		padding-left:50px;
		background:url('../_imgs/layout/caixa_download_pequena.png') 15px 3px no-repeat;
		//.transition;
		&:active, &:visited{ color:@azul_escuro; }
		&:hover{

		}
	}
	.compartilhe{
		.caecilia(18px, bold);
		color:@azul_escuro;
		height:40px;
		line-height:40px;
		position:absolute;
		top:0;
		right:110px;
		width:135px;
	}
	ul{
		position:absolute;
		top:0;
		right:10px;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}
}