@import 'vars.less';

h1{
	color:@roxo;
	.caecilia(30px, bold);
	line-height:120%;
}
h2{
	color:#fff;
	margin:4px 0 25px 0;
	.caecilia(16px, bold);
}
p{
	color:#fff;
	.verdana(14px);
	line-height:140%;
	margin:10px 0 20px 0;
	&.maior{
		.caecilia(16px, bold);
		line-height:170%;
	}
}

.main{
	.bordab{ border-bottom:2px @verde_linhas solid; margin-bottom:30px;}
	.bordat{ border-top:2px @verde_linhas solid; margin-bottom:30px;}
	.politica{
		background-color:@verde_submenu;
		padding:20px;
		p{
			font-size:10px;
			margin:0 0 15px 0;
			line-height:140%;
			&.primeiro,&.ultimo{ margin-bottom:0; }
		}
	}
	.container{
		font-size:0;
		.coluna{
			.inline;
			h4{
				.caecilia(16px, bold);
				color:@roxo;
				line-height:120%;
				margin-bottom: 40px;
			}
			h2.destaque{
				.caecilia(48px, bold);
				color:#95DBD7;
				padding:20px 0;
				border-top:2px @verde_linhas solid;
				line-height:100%;
				margin-top:10px;
			}
			ul.lista-apoio{
				li{ margin-bottom:40px; }
			}
			.sub-lateral-apoio{
				margin-top:50px;
				width:310px;
				li{
					margin-bottom:5px;
					a{
						line-height:120%;
						padding:15px;
						display:block;
						.caecilia(18px, bold);
						color:#fff;
						background-color:@roxo;
						.transition;
						&:active, &:visited{ color:#fff; }
						&:hover, &.ativo{
							background-color:@verde_submenu;
						}
						.ver{
							color:@verde_principal;
							float:right;
							.verdana(12px, bold);
						}
					}
				}
			}
			&.esquerda{
				width:640px !important;
				margin-right:30px !important;
			}
			&.direita{
				width:310px !important;
			}
			&.margemextra{
				margin-bottom: 40px;
			}			
		}
		#videos-cocorico,
		#links-videos{
			margin:40px 0 20px 0;
			font-size:0;
			.link-video-holder{
				.inline;
				width:230px;
				height:180px;
				overflow:hidden;
				position:relative;
				margin-right:20px;
				margin-bottom:10px;
				&.ultimo{ margin-right:0; }
				a.link-detalhe{
					width:230px;
					position:relative;
					display:block;
					.play-overlay{
						position:absolute;
						width:230px;
						height:129px;
						background:url('../_imgs/layout/botao-play.png') center center no-repeat;
						z-index:999;
						&.azul{background:url('../_imgs/layout/botao-play-azul.png') center center no-repeat;}
					}
					.titulo-video{
						z-index:99999;
						padding-left:10px;
						position:absolute;
						top:0;
						left:0;
						width:220px;
						height:24px;
						line-height:27px;
						background-color:@azul_escuro;
						color:@azul_claro;
						.caecilia(12px, bold);
					}
					img{
						position:absolute;
						width:230px;
						z-index:99;
					}
				}
				.barra-share-small{
					position:absolute;
					z-index:99999;
					top:130px;
					left:0;
					height:40px;
					width:230px;
					background:@azul_clarinho;
					.link-download{
						position:absolute;
						top:0;
						left:0;
						height:40px;
						display:block;
						width:62px;
						background:url('../_imgs/layout/caixa_download_pequena.png') 9px 4px no-repeat;
						.transition;
					}
					ul{
						position:absolute;
						top:0;
						right:10px;
						height:40px;
						list-style:none;
						font-size:0;
						li{
							.inline;
							width:25px;
							height:40px;
							margin-left:3px;
							&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
							&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
							&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
							&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
							a{
								text-indent:-99999px;
								display: block;
								width:28px;
								height:40px;
								.transition(background-position, .3s, ease-in-out);
								.transition;
								&:active, &:visited{}
								&:hover{
									background-position:center 5px;
								}
							}
						}
					}
				}
			}
		}
		#videos-cocorico{
			#texto-cocorico{
				.inline;
				width:640px;
				height:180px;
				margin-bottom:10px;
				padding-right:110px;
				h2{
					.caecilia(30px, bold);
					color:@roxo;
					line-height:130%;
				}
				p{
					margin-top:15px;
					line-height:140%;
					.verdana(14px);
					color:#fff;
				}
			}
		}		
	}
	#botao-voltar{
		margin:50px 0 0 0;
		padding:20px 0 0 0;
		#link-voltar{
			.caecilia(20px, bold);
			color:@roxo;
			line-height:120%;
			.transition;
			&:active, &:visited{}
			&:hover{
				color:#fff;

			}
		}
	}
}

.main-materiais-apoio,
.main-materiais-galeria{
	.container.container-3{
		.coluna{
			.inline;
			width:330px;
			margin-bottom:30px;
			&.meio{
				width:310px;
				margin:0 15px;
				text-align:center;
				#dica{
					width:280px;
					height:284px;
					margin:40px auto 0 auto;
					background:url('../_imgs/layout/fundo-dicas.png') center center no-repeat;
					h2{
						.caecilia(24px, bold);
						color:@azul_escuro;
						margin:0;
						padding:28px 0 4px 0;
					}
					p{
						.caecilia(16px, bold);
						color:@azul_escuro;
						width:215px;
						margin:0 auto;
						line-height:160%;
					}
				}
				&.larga{
					width:620px;
					margin-bottom:40px;
					position:relative;
					background:url('../_imgs/layout/circulos_pequenos_branco.png') 300px 10px no-repeat;
					#dica{
						margin:0 0 0 100px;
					}
					#compartilhar-galeria{
						position:absolute;
						right:0;
						bottom:0;						
					}
				}
			}
			&.ultima{ width:310px; }
			&.extramargem{ margin-bottom:60px; }
			h1{
				.caecilia(30px, bold);
				color:@roxo;
				line-height:120%;
			}
			p.maior{
				color:#fff;
				line-height:160%;
				.caecilia(16px, bold);
			}
			.link-roxo{
				background-color:@roxo;
				padding:20px;
				width:290px;
				display:block;
				text-align:center;
				h3{
					.caecilia(20px, bold);
					color:#fff;
					line-height:150%;
					margin-bottom:15px;
				}
				h4{
					.verdana(14px);
					color:#fff;
					line-height:150%;
					margin-bottom:10px;
				}
				.verde{
					color:@verde_principal;
					.verdana(12px, bold);
					display:block;
				}				
				.transition;
				&:hover{
					background:@azul_escuro;
				}
				img{ margin-bottom:10px; }
			}
		}
		.link-apoio{
			padding:10px;
			background-color:@roxo;
			width:290px;
			height:130px;
			margin:0 20px 20px 0;
			position:relative;
			.inline;
			.transition;
			&:hover{
				background-color:@azul_escuro;
			}
			&.ultimo{ margin-right:0; }
			img{ 
				position:absolute;
				right:10px;
				top:10px;
			}
			.texto-link{
				position:absolute;
				left:18px;
				top:20px;
				color:#fff;
				.caecilia(20px, bold);
				width:140px;
				&.short{ width:120px; }
			}
			.ver{
				position:absolute;
				right:150px;
				bottom:7px;
				.verdana(12px, bold);
				color:@verde_principal;
			}
		}
	}
}

.main-materiais-apoio{
	.container{
		.coluna{
			&.esquerda{ width:474px !important; min-height:370px; }
			&.direita{ width:476px !important; }
		}
	}
	.centro.container.container-3{
		background:url('../_imgs/layout/img-apoio.png') right 45px no-repeat;	
	}
}


.main-materiais-imagem{
	#ampliada{
		margin-top:20px;
	}
	#barra-share-large{
		margin-bottom:30px;
	}
	#fotografo{
		.verdana(12px);
		color:#fff;
		margin-bottom:20px;
	}
	#navegar-thumbs{
		padding-top:30px;
		position:relative;
		.navegacao-thumbs{
		    width:675px;
		    height: 100px;
		    margin-left:-20px;
		}

		.navegacao-thumbs a{
		    border:0; padding:0; margin:0; display:inline-block;
		    width:110px; height:100px;
		}

		.navegacao-thumbs #nav-esq,
		.navegacao-thumbs #nav-dir{
		    width:50px;
		}
		.navegacao-thumbs #nav-esq{ background: transparent url('../_imgs/layout/setanav-esq.png') 50% 50% no-repeat;}
		.navegacao-thumbs #nav-dir{ background: transparent url('../_imgs/layout/setanav-dir.png') 50% 50% no-repeat;}
		.navegacao-thumbs #nav-esq:hover,
		.navegacao-thumbs #nav-dir:hover{
		    cursor:pointer;
		}
		.navegacao-thumbs .thumbs{
		    width:550px;
		    text-align:center;
		    overflow:hidden;
		}
		.navegacao-thumbs .thumbs-viewport{
		    height: 100px;
		    white-space: nowrap;
		}

		.navegacao-thumbs #nav-esq,
		.navegacao-thumbs #nav-dir,
		.navegacao-thumbs .thumbs{
		    height: 100px;
		    display:inline-block;
		}

		.thumb-nav{
		    margin-right:10px;
		}
		.navegacao-thumbs { height: 100px; width:655px; overflow:hidden; }
		.navegacao-thumbs .viewport {  width: 550px; height: 100px; overflow: hidden; position: relative; float:left; }
		.navegacao-thumbs .buttons { display: block; margin:0; float: left; }
		.navegacao-thumbs .disable { visibility: hidden; }
		.navegacao-thumbs .overview { list-style: none; height:100px; min-width:550px; white-space: nowrap; position:absolute;}
		.navegacao-thumbs .overview li{ float:left; padding: 0px; height: 100px; width: 110px;}
		.voltar-grande{
			position:absolute;
			right:0;
			top:30px;
			height:100px;
			line-height:100px;
			text-align:center;
			display:block;
			width:310px;
			text-align:center;
			background:@azul_clarinho;
			color:@azul_escuro;
			.verdana(12px, bold);
			.transition;
			&:active, &:visited{color:@azul_escuro;}
			&:hover{
				color:#fff;
			}
		}
	}
}

.main-materiais-exposicao{
	.centro{
		.coluna{
			p.maior{
				.caecilia(16px, bold);
				line-height:180%;
			}			
			margin-bottom:20px;
			position:relative;
			min-height:350px;
			#dica{
				position:absolute;
				top:50px;
				left:38px;
				z-index:1;
				margin-left:10px;
				text-align:center;
				.inline;
				width:280px;
				height:282px;
				background:url('../_imgs/layout/fundo-dicas.png') center center no-repeat;
				h2{
					.caecilia(24px, bold);
					color:@azul_escuro;
					margin:0;
					padding:20px 0 4px 0;
				}
				p{
					.caecilia(16px, bold);
					color:@azul_escuro;
					width:215px;
					margin:0 auto;
					line-height:160%;
				}
			}
			#dica-img{
				position:absolute;
				top:0;
				left:310px;
				z-index:2;
			}
		}		
	}
	#lista-exposicoes{
		h1{
			.caecilia(22px, bold);
			color:@roxo;
			margin:20px 0;
		}
		.coluna{
			.inline;
			width:230px;
			margin-right:20px;
			background-color:@roxo;
			&.ultima{ margin-right:0; }
			h2{
				.caecilia(20px, bold);
				color:#fff;
				height:50px;
				line-height:50px;
				text-align:center;
			}
			img{
				display:block;
				margin:0 auto 2px auto;
			}
			a{
				display:block;
				background: url('../_imgs/layout/caixa_download_pequena_branca.png') @roxo 20px center no-repeat;
				height:65px;
				border-bottom:2px @verde_principal solid;
				.caecilia(12px, bold);
				padding-left:68px;
				color:@verde_principal;
				.transition;
				&:active, &:visited{ color:@verde_principal; }
				.maior{
					font-size:16px;
					display:block;
					padding-top:10px;
				}
				&:hover{
					background-color:@azul_escuro;
					color:#fff;
				}
			}
		}
	}
}

#compartilhar-exposicoes{
	.caecilia(20px, bold);
	color:#fff;
	height:40px;
	line-height:120%;
	ul{
		.inline;
		width:112px;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.primeiro{ margin-left:0; }
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}				
}

#galeria{
	h2{
		color:@roxo;
		.caecilia(22px, bold);
		.centro;
		margin-bottom:15px;
		margin-top:35px;
	}
}

.ui-slider { position: relative; text-align: left; }
.ui-slider .ui-slider-handle { position: absolute; z-index: 2; width: 1.2em; height: 1.2em; cursor: default; }
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }

.ui-slider-horizontal { height: .8em; }
.ui-slider-horizontal .ui-slider-handle { top: -.3em; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }

.slide-container{
	margin:30px auto 0 auto;
	width:@largura;
	height:30px;
}

.ui-slider-horizontal .ui-state-default {
    background: transparent url('../_imgs/layout/slider-handle.png') center top no-repeat !important;
}

.ui-slider-horizontal .ui-slider-handle {
    width:50px !important;
    height: 20px !important;
    margin-top: -7px !important;
    margin-left: -25px !important;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border:0;
}

.ui-slider-horizontal .ui-slider-handle:hover{ cursor:pointer; border:0;}

.ui-slider-horizontal{
    height: 4px;
    border:0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border:0;
    background:none;
    background-color:#9AD5C8;
}

.viewport{
    width:100%;
    height: 760px;
}

.galeria-imagens{
    width:99.9%;
    height: 760px;
    overflow:hidden;
    position:absolute;
    left:0;
}

.imagens{
    height: 760px;
}

.box_grande{
    width:760px;
    height: 760px;
    display:inline-block;    
    display:inline\9;
    *display:inline;
    zoom:1;
    vertical-align: top;
    margin-right:10px;
}
.box_grande .box_imagens_1{
    margin-bottom:10px;
}
.box_grande .box_imagens_1,
.box_grande .box_imagens_3{
    width:770px;
    height: 320px;
}

.box_grande a img:hover{
     outline:1px #CECECE solid;
}

.box_grande .box_imagens_1 img{
    float:left;
}
.box_grande .box_imagens_1 .large_left{
    margin-right:10px;
}
.box_grande .box_imagens_1 .small{
    margin-bottom:10px;
    margin-right:10px;
}


.box_grande .box_imagens_2{
    margin-bottom:10px;
    height:100px;
}
.box_grande .box_imagens_2 img.small{
    margin-right:10px;
}
.box_grande .box_imagens_2 img.small.last{
    margin-right:0px;
}


.box_grande .box_imagens_3 .large_right{
    margin-right:10px;
    margin-top:-220px;
    *margin-top:-330px;
    float:right;
}
.box_grande .box_imagens_3 .small{
    margin-bottom:10px;
    margin-right:10px;
    display:inline-block;
}

#compartilhar-galeria{
	margin-top:70px;
	h5{
		.caecilia(20px, bold);
		color:#fff;
		text-align:center;
		text-indent: 5px;
	}
	&.apoio{
		width:220px;
		height:220px;
		background:url('../_imgs/layout/bg-compartilhe-gota.png') center center no-repeat;
		margin:40px 16px 0 0;
		float:right;
		h5{
			padding-top:70px;
		}
	}
	ul{
		width:112px;
		margin:0 auto;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.primeiro{ margin-left:0; }
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}					
}

.main-materiais-exposicao,
.main-materiais-videos{
	.container{
		.coluna{
			&.esquerda{margin-right:55px !important; width:285px !important;}
			&.direita{margin-right:0; width:640px !important;}
		}
	}
}

.video-detalhe{
	background:url('../_imgs/layout/circulos_tracejados_branco.png') right 20px no-repeat;
}

.detalheimg{
	background:url('../_imgs/layout/circulos_tracejados_branco.png') right 20px no-repeat;	
}