.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
h1{color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;line-height:120%;}
h2{color:#fff;margin:4px 0 25px 0;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;}
p{color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:140%;margin:10px 0 20px 0;}p.maior{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;line-height:170%;}
.main .bordab{border-bottom:2px #4bc2bb solid;margin-bottom:30px;}
.main .bordat{border-top:2px #4bc2bb solid;margin-bottom:30px;}
.main .politica{background-color:#125160;padding:20px;}.main .politica p{font-size:10px;margin:0 0 15px 0;line-height:140%;}.main .politica p.primeiro,.main .politica p.ultimo{margin-bottom:0;}
.main .container{font-size:0;}.main .container .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;}.main .container .coluna h4{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#430e5d;line-height:120%;margin-bottom:40px;}
.main .container .coluna h2.destaque{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:48px;font-weight:bold;color:#95DBD7;padding:20px 0;border-top:2px #4bc2bb solid;line-height:100%;margin-top:10px;}
.main .container .coluna ul.lista-apoio li{margin-bottom:40px;}
.main .container .coluna .sub-lateral-apoio{margin-top:50px;width:310px;}.main .container .coluna .sub-lateral-apoio li{margin-bottom:5px;}.main .container .coluna .sub-lateral-apoio li a{line-height:120%;padding:15px;display:block;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;color:#fff;background-color:#430e5d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main .container .coluna .sub-lateral-apoio li a:active,.main .container .coluna .sub-lateral-apoio li a:visited{color:#fff;}
.main .container .coluna .sub-lateral-apoio li a:hover,.main .container .coluna .sub-lateral-apoio li a.ativo{background-color:#125160;}
.main .container .coluna .sub-lateral-apoio li a .ver{color:#24ada4;float:right;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;}
.main .container .coluna.esquerda{width:640px !important;margin-right:30px !important;}
.main .container .coluna.direita{width:310px !important;}
.main .container .coluna.margemextra{margin-bottom:40px;}
.main .container #videos-cocorico,.main .container #links-videos{margin:40px 0 20px 0;font-size:0;}.main .container #videos-cocorico .link-video-holder,.main .container #links-videos .link-video-holder{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:230px;height:180px;overflow:hidden;position:relative;margin-right:20px;margin-bottom:10px;}.main .container #videos-cocorico .link-video-holder.ultimo,.main .container #links-videos .link-video-holder.ultimo{margin-right:0;}
.main .container #videos-cocorico .link-video-holder a.link-detalhe,.main .container #links-videos .link-video-holder a.link-detalhe{width:230px;position:relative;display:block;}.main .container #videos-cocorico .link-video-holder a.link-detalhe .play-overlay,.main .container #links-videos .link-video-holder a.link-detalhe .play-overlay{position:absolute;width:230px;height:129px;background:url('../_imgs/layout/botao-play.png') center center no-repeat;z-index:999;}.main .container #videos-cocorico .link-video-holder a.link-detalhe .play-overlay.azul,.main .container #links-videos .link-video-holder a.link-detalhe .play-overlay.azul{background:url('../_imgs/layout/botao-play-azul.png') center center no-repeat;}
.main .container #videos-cocorico .link-video-holder a.link-detalhe .titulo-video,.main .container #links-videos .link-video-holder a.link-detalhe .titulo-video{z-index:99999;padding-left:10px;position:absolute;top:0;left:0;width:220px;height:24px;line-height:27px;background-color:#213f53;color:#00ccff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;}
.main .container #videos-cocorico .link-video-holder a.link-detalhe img,.main .container #links-videos .link-video-holder a.link-detalhe img{position:absolute;width:230px;z-index:99;}
.main .container #videos-cocorico .link-video-holder .barra-share-small,.main .container #links-videos .link-video-holder .barra-share-small{position:absolute;z-index:99999;top:130px;left:0;height:40px;width:230px;background:#b9dce3;}.main .container #videos-cocorico .link-video-holder .barra-share-small .link-download,.main .container #links-videos .link-video-holder .barra-share-small .link-download{position:absolute;top:0;left:0;height:40px;display:block;width:62px;background:url('../_imgs/layout/caixa_download_pequena.png') 9px 4px no-repeat;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul,.main .container #links-videos .link-video-holder .barra-share-small ul{position:absolute;top:0;right:10px;height:40px;list-style:none;font-size:0;}.main .container #videos-cocorico .link-video-holder .barra-share-small ul li,.main .container #links-videos .link-video-holder .barra-share-small ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:25px;height:40px;margin-left:3px;}.main .container #videos-cocorico .link-video-holder .barra-share-small ul li.share-email a,.main .container #links-videos .link-video-holder .barra-share-small ul li.share-email a{background:url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul li.share-facebook a,.main .container #links-videos .link-video-holder .barra-share-small ul li.share-facebook a{background:url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul li.share-twitter a,.main .container #links-videos .link-video-holder .barra-share-small ul li.share-twitter a{background:url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul li.share-tumblr a,.main .container #links-videos .link-video-holder .barra-share-small ul li.share-tumblr a{background:url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul li a,.main .container #links-videos .link-video-holder .barra-share-small ul li a{text-indent:-99999px;display:block;width:28px;height:40px;-webkit-transition:background-position 0.3s ease-in-out;-moz-transition:background-position 0.3s ease-in-out;-o-transition:background-position 0.3s ease-in-out;transition:background-position 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main .container #videos-cocorico .link-video-holder .barra-share-small ul li a:hover,.main .container #links-videos .link-video-holder .barra-share-small ul li a:hover{background-position:center 5px;}
.main .container #videos-cocorico #texto-cocorico{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:640px;height:180px;margin-bottom:10px;padding-right:110px;}.main .container #videos-cocorico #texto-cocorico h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;color:#430e5d;line-height:130%;}
.main .container #videos-cocorico #texto-cocorico p{margin-top:15px;line-height:140%;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;}
.main #botao-voltar{margin:50px 0 0 0;padding:20px 0 0 0;}.main #botao-voltar #link-voltar{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#430e5d;line-height:120%;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main #botao-voltar #link-voltar:hover{color:#fff;}
.main-materiais-apoio .container.container-3 .coluna,.main-materiais-galeria .container.container-3 .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:330px;margin-bottom:30px;}.main-materiais-apoio .container.container-3 .coluna.meio,.main-materiais-galeria .container.container-3 .coluna.meio{width:310px;margin:0 15px;text-align:center;}.main-materiais-apoio .container.container-3 .coluna.meio #dica,.main-materiais-galeria .container.container-3 .coluna.meio #dica{width:280px;height:284px;margin:40px auto 0 auto;background:url('../_imgs/layout/fundo-dicas.png') center center no-repeat;}.main-materiais-apoio .container.container-3 .coluna.meio #dica h2,.main-materiais-galeria .container.container-3 .coluna.meio #dica h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;color:#213f53;margin:0;padding:28px 0 4px 0;}
.main-materiais-apoio .container.container-3 .coluna.meio #dica p,.main-materiais-galeria .container.container-3 .coluna.meio #dica p{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#213f53;width:215px;margin:0 auto;line-height:160%;}
.main-materiais-apoio .container.container-3 .coluna.meio.larga,.main-materiais-galeria .container.container-3 .coluna.meio.larga{width:620px;margin-bottom:40px;position:relative;background:url('../_imgs/layout/circulos_pequenos_branco.png') 300px 10px no-repeat;}.main-materiais-apoio .container.container-3 .coluna.meio.larga #dica,.main-materiais-galeria .container.container-3 .coluna.meio.larga #dica{margin:0 0 0 100px;}
.main-materiais-apoio .container.container-3 .coluna.meio.larga #compartilhar-galeria,.main-materiais-galeria .container.container-3 .coluna.meio.larga #compartilhar-galeria{position:absolute;right:0;bottom:0;}
.main-materiais-apoio .container.container-3 .coluna.ultima,.main-materiais-galeria .container.container-3 .coluna.ultima{width:310px;}
.main-materiais-apoio .container.container-3 .coluna.extramargem,.main-materiais-galeria .container.container-3 .coluna.extramargem{margin-bottom:60px;}
.main-materiais-apoio .container.container-3 .coluna h1,.main-materiais-galeria .container.container-3 .coluna h1{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;color:#430e5d;line-height:120%;}
.main-materiais-apoio .container.container-3 .coluna p.maior,.main-materiais-galeria .container.container-3 .coluna p.maior{color:#fff;line-height:160%;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;}
.main-materiais-apoio .container.container-3 .coluna .link-roxo,.main-materiais-galeria .container.container-3 .coluna .link-roxo{background-color:#430e5d;padding:20px;width:290px;display:block;text-align:center;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-materiais-apoio .container.container-3 .coluna .link-roxo h3,.main-materiais-galeria .container.container-3 .coluna .link-roxo h3{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;line-height:150%;margin-bottom:15px;}
.main-materiais-apoio .container.container-3 .coluna .link-roxo h4,.main-materiais-galeria .container.container-3 .coluna .link-roxo h4{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;line-height:150%;margin-bottom:10px;}
.main-materiais-apoio .container.container-3 .coluna .link-roxo .verde,.main-materiais-galeria .container.container-3 .coluna .link-roxo .verde{color:#24ada4;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;display:block;}
.main-materiais-apoio .container.container-3 .coluna .link-roxo:hover,.main-materiais-galeria .container.container-3 .coluna .link-roxo:hover{background:#213f53;}
.main-materiais-apoio .container.container-3 .coluna .link-roxo img,.main-materiais-galeria .container.container-3 .coluna .link-roxo img{margin-bottom:10px;}
.main-materiais-apoio .container.container-3 .link-apoio,.main-materiais-galeria .container.container-3 .link-apoio{padding:10px;background-color:#430e5d;width:290px;height:130px;margin:0 20px 20px 0;position:relative;display:inline-block;*display:inline;zoom:1;vertical-align:top;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-materiais-apoio .container.container-3 .link-apoio:hover,.main-materiais-galeria .container.container-3 .link-apoio:hover{background-color:#213f53;}
.main-materiais-apoio .container.container-3 .link-apoio.ultimo,.main-materiais-galeria .container.container-3 .link-apoio.ultimo{margin-right:0;}
.main-materiais-apoio .container.container-3 .link-apoio img,.main-materiais-galeria .container.container-3 .link-apoio img{position:absolute;right:10px;top:10px;}
.main-materiais-apoio .container.container-3 .link-apoio .texto-link,.main-materiais-galeria .container.container-3 .link-apoio .texto-link{position:absolute;left:18px;top:20px;color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;width:140px;}.main-materiais-apoio .container.container-3 .link-apoio .texto-link.short,.main-materiais-galeria .container.container-3 .link-apoio .texto-link.short{width:120px;}
.main-materiais-apoio .container.container-3 .link-apoio .ver,.main-materiais-galeria .container.container-3 .link-apoio .ver{position:absolute;right:150px;bottom:7px;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#24ada4;}
.main-materiais-apoio .container .coluna.esquerda{width:474px !important;min-height:370px;}
.main-materiais-apoio .container .coluna.direita{width:476px !important;}
.main-materiais-apoio .centro.container.container-3{background:url('../_imgs/layout/img-apoio.png') right 45px no-repeat;}
.main-materiais-imagem #ampliada{margin-top:20px;}
.main-materiais-imagem #barra-share-large{margin-bottom:30px;}
.main-materiais-imagem #fotografo{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#fff;margin-bottom:20px;}
.main-materiais-imagem #navegar-thumbs{padding-top:30px;position:relative;}.main-materiais-imagem #navegar-thumbs .navegacao-thumbs{width:675px;height:100px;margin-left:-20px;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs a{border:0;padding:0;margin:0;display:inline-block;width:110px;height:100px;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-esq,.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-dir{width:50px;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-esq{background:transparent url('../_imgs/layout/setanav-esq.png') 50% 50% no-repeat;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-dir{background:transparent url('../_imgs/layout/setanav-dir.png') 50% 50% no-repeat;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-esq:hover,.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-dir:hover{cursor:pointer;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .thumbs{width:550px;text-align:center;overflow:hidden;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .thumbs-viewport{height:100px;white-space:nowrap;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-esq,.main-materiais-imagem #navegar-thumbs .navegacao-thumbs #nav-dir,.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .thumbs{height:100px;display:inline-block;}
.main-materiais-imagem #navegar-thumbs .thumb-nav{margin-right:10px;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs{height:100px;width:655px;overflow:hidden;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .viewport{width:550px;height:100px;overflow:hidden;position:relative;float:left;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .buttons{display:block;margin:0;float:left;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .disable{visibility:hidden;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .overview{list-style:none;height:100px;min-width:550px;white-space:nowrap;position:absolute;}
.main-materiais-imagem #navegar-thumbs .navegacao-thumbs .overview li{float:left;padding:0px;height:100px;width:110px;}
.main-materiais-imagem #navegar-thumbs .voltar-grande{position:absolute;right:0;top:30px;height:100px;line-height:100px;text-align:center;display:block;width:310px;text-align:center;background:#b9dce3;color:#213f53;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-materiais-imagem #navegar-thumbs .voltar-grande:active,.main-materiais-imagem #navegar-thumbs .voltar-grande:visited{color:#213f53;}
.main-materiais-imagem #navegar-thumbs .voltar-grande:hover{color:#fff;}
.main-materiais-exposicao .centro .coluna{margin-bottom:20px;position:relative;min-height:350px;}.main-materiais-exposicao .centro .coluna p.maior{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;line-height:180%;}
.main-materiais-exposicao .centro .coluna #dica{position:absolute;top:50px;left:38px;z-index:1;margin-left:10px;text-align:center;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:280px;height:282px;background:url('../_imgs/layout/fundo-dicas.png') center center no-repeat;}.main-materiais-exposicao .centro .coluna #dica h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;color:#213f53;margin:0;padding:20px 0 4px 0;}
.main-materiais-exposicao .centro .coluna #dica p{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#213f53;width:215px;margin:0 auto;line-height:160%;}
.main-materiais-exposicao .centro .coluna #dica-img{position:absolute;top:0;left:310px;z-index:2;}
.main-materiais-exposicao #lista-exposicoes h1{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:22px;font-weight:bold;color:#430e5d;margin:20px 0;}
.main-materiais-exposicao #lista-exposicoes .coluna{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:230px;margin-right:20px;background-color:#430e5d;}.main-materiais-exposicao #lista-exposicoes .coluna.ultima{margin-right:0;}
.main-materiais-exposicao #lista-exposicoes .coluna h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;height:50px;line-height:50px;text-align:center;}
.main-materiais-exposicao #lista-exposicoes .coluna img{display:block;margin:0 auto 2px auto;}
.main-materiais-exposicao #lista-exposicoes .coluna a{display:block;background:url('../_imgs/layout/caixa_download_pequena_branca.png') #430e5d 20px center no-repeat;height:65px;border-bottom:2px #24ada4 solid;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;padding-left:68px;color:#24ada4;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main-materiais-exposicao #lista-exposicoes .coluna a:active,.main-materiais-exposicao #lista-exposicoes .coluna a:visited{color:#24ada4;}
.main-materiais-exposicao #lista-exposicoes .coluna a .maior{font-size:16px;display:block;padding-top:10px;}
.main-materiais-exposicao #lista-exposicoes .coluna a:hover{background-color:#213f53;color:#fff;}
#compartilhar-exposicoes{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;height:40px;line-height:120%;}#compartilhar-exposicoes ul{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:112px;height:40px;list-style:none;font-size:0;}#compartilhar-exposicoes ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:25px;height:40px;margin-left:3px;}#compartilhar-exposicoes ul li.primeiro{margin-left:0;}
#compartilhar-exposicoes ul li.share-email a{background:url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;}
#compartilhar-exposicoes ul li.share-facebook a{background:url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;}
#compartilhar-exposicoes ul li.share-twitter a{background:url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;}
#compartilhar-exposicoes ul li.share-tumblr a{background:url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;}
#compartilhar-exposicoes ul li a{text-indent:-99999px;display:block;width:28px;height:40px;-webkit-transition:background-position 0.3s ease-in-out;-moz-transition:background-position 0.3s ease-in-out;-o-transition:background-position 0.3s ease-in-out;transition:background-position 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
#compartilhar-exposicoes ul li a:hover{background-position:center 5px;}
#galeria h2{color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:22px;font-weight:bold;width:980px;padding:0 0;margin:0 auto;margin-bottom:15px;margin-top:35px;}
.ui-slider{position:relative;text-align:left;}
.ui-slider .ui-slider-handle{position:absolute;z-index:2;width:1.2em;height:1.2em;cursor:default;}
.ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
.ui-slider-horizontal{height:.8em;}
.ui-slider-horizontal .ui-slider-handle{top:-0.3em;margin-left:-0.6em;}
.ui-slider-horizontal .ui-slider-range{top:0;height:100%;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}
.ui-slider-horizontal .ui-slider-range-max{right:0;}
.slide-container{margin:30px auto 0 auto;width:980px;height:30px;}
.ui-slider-horizontal .ui-state-default{background:transparent url('../_imgs/layout/slider-handle.png') center top no-repeat !important;}
.ui-slider-horizontal .ui-slider-handle{width:50px !important;height:20px !important;margin-top:-7px !important;margin-left:-25px !important;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0;}
.ui-slider-horizontal .ui-slider-handle:hover{cursor:pointer;border:0;}
.ui-slider-horizontal{height:4px;border:0;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;border:0;background:none;background-color:#9AD5C8;}
.viewport{width:100%;height:760px;}
.galeria-imagens{width:99.9%;height:760px;overflow:hidden;position:absolute;left:0;}
.imagens{height:760px;}
.box_grande{width:760px;height:760px;display:inline-block;display:inline\9;*display:inline;zoom:1;vertical-align:top;margin-right:10px;}
.box_grande .box_imagens_1{margin-bottom:10px;}
.box_grande .box_imagens_1,.box_grande .box_imagens_3{width:770px;height:320px;}
.box_grande a img:hover{outline:1px #CECECE solid;}
.box_grande .box_imagens_1 img{float:left;}
.box_grande .box_imagens_1 .large_left{margin-right:10px;}
.box_grande .box_imagens_1 .small{margin-bottom:10px;margin-right:10px;}
.box_grande .box_imagens_2{margin-bottom:10px;height:100px;}
.box_grande .box_imagens_2 img.small{margin-right:10px;}
.box_grande .box_imagens_2 img.small.last{margin-right:0px;}
.box_grande .box_imagens_3 .large_right{margin-right:10px;margin-top:-220px;*margin-top:-330px;float:right;}
.box_grande .box_imagens_3 .small{margin-bottom:10px;margin-right:10px;display:inline-block;}
#compartilhar-galeria{margin-top:70px;}#compartilhar-galeria h5{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;text-align:center;text-indent:5px;}
#compartilhar-galeria.apoio{width:220px;height:220px;background:url('../_imgs/layout/bg-compartilhe-gota.png') center center no-repeat;margin:40px 16px 0 0;float:right;}#compartilhar-galeria.apoio h5{padding-top:70px;}
#compartilhar-galeria ul{width:112px;margin:0 auto;height:40px;list-style:none;font-size:0;}#compartilhar-galeria ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:25px;height:40px;margin-left:3px;}#compartilhar-galeria ul li.primeiro{margin-left:0;}
#compartilhar-galeria ul li.share-email a{background:url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;}
#compartilhar-galeria ul li.share-facebook a{background:url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;}
#compartilhar-galeria ul li.share-twitter a{background:url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;}
#compartilhar-galeria ul li.share-tumblr a{background:url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;}
#compartilhar-galeria ul li a{text-indent:-99999px;display:block;width:28px;height:40px;-webkit-transition:background-position 0.3s ease-in-out;-moz-transition:background-position 0.3s ease-in-out;-o-transition:background-position 0.3s ease-in-out;transition:background-position 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
#compartilhar-galeria ul li a:hover{background-position:center 5px;}
.main-materiais-exposicao .container .coluna.esquerda,.main-materiais-videos .container .coluna.esquerda{margin-right:55px !important;width:285px !important;}
.main-materiais-exposicao .container .coluna.direita,.main-materiais-videos .container .coluna.direita{margin-right:0;width:640px !important;}
.video-detalhe{background:url('../_imgs/layout/circulos_tracejados_branco.png') right 20px no-repeat;}
.detalheimg{background:url('../_imgs/layout/circulos_tracejados_branco.png') right 20px no-repeat;}
