.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
h2.titulosemimagem{line-height:140%;padding:3px 7px;background-color:rgba(67, 14, 93, 0.8);color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:28px;font-weight:bold;}
.centro h1{color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;}
.centro p.maior{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#fff;line-height:180%;margin:3px 0;width:810px;}
.centro #paginacao{height:30px;margin:15px 0;}.centro #paginacao a,.centro #paginacao strong{display:inline-block;*display:inline;zoom:1;vertical-align:top;margin-right:5px;width:30px;height:30px;line-height:30px;background-color:#5DC8C2;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#fff;}
.centro #paginacao strong{background-color:#00CCFF;}
.centro #paginacao a{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.centro #paginacao a:active,.centro #paginacao a:visited{color:#fff;}
.centro #paginacao a:hover{background-color:#00CCFF;}
.main-novidades-recursos .centro{position:relative;}.main-novidades-recursos .centro #aspas{position:absolute;right:20px;top:0;}
.main-novidades-recursos .centro .maior{margin-bottom:45px;}
.main-novidades-recursos .centro #barra-share-large{margin-bottom:40px;}
.main-novidades-giro .coluna.detalhe,.main-novidades-ler_giro .coluna.detalhe,.main-novidades-ler .coluna.detalhe,.main-novidades-noticias .coluna.detalhe,.main-novidades-giro .coluna.lista-noticias,.main-novidades-ler_giro .coluna.lista-noticias,.main-novidades-ler .coluna.lista-noticias,.main-novidades-noticias .coluna.lista-noticias{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:600px;margin-right:40px;}.main-novidades-giro .coluna.detalhe h2,.main-novidades-ler_giro .coluna.detalhe h2,.main-novidades-ler .coluna.detalhe h2,.main-novidades-noticias .coluna.detalhe h2,.main-novidades-giro .coluna.lista-noticias h2,.main-novidades-ler_giro .coluna.lista-noticias h2,.main-novidades-ler .coluna.lista-noticias h2,.main-novidades-noticias .coluna.lista-noticias h2{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#fff;}
.main-novidades-giro .coluna.detalhe ul.list-not,.main-novidades-ler_giro .coluna.detalhe ul.list-not,.main-novidades-ler .coluna.detalhe ul.list-not,.main-novidades-noticias .coluna.detalhe ul.list-not,.main-novidades-giro .coluna.lista-noticias ul.list-not,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not,.main-novidades-ler .coluna.lista-noticias ul.list-not,.main-novidades-noticias .coluna.lista-noticias ul.list-not{margin:40px 0 15px 0;width:600px;border-bottom:2px #4bc2bb solid;}.main-novidades-giro .coluna.detalhe ul.list-not li,.main-novidades-ler_giro .coluna.detalhe ul.list-not li,.main-novidades-ler .coluna.detalhe ul.list-not li,.main-novidades-noticias .coluna.detalhe ul.list-not li,.main-novidades-giro .coluna.lista-noticias ul.list-not li,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li,.main-novidades-ler .coluna.lista-noticias ul.list-not li,.main-novidades-noticias .coluna.lista-noticias ul.list-not li{width:600px;min-height:118px;margin:0;border-top:2px #4bc2bb solid;position:relative;}.main-novidades-giro .coluna.detalhe ul.list-not li img,.main-novidades-ler_giro .coluna.detalhe ul.list-not li img,.main-novidades-ler .coluna.detalhe ul.list-not li img,.main-novidades-noticias .coluna.detalhe ul.list-not li img,.main-novidades-giro .coluna.lista-noticias ul.list-not li img,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li img,.main-novidades-ler .coluna.lista-noticias ul.list-not li img,.main-novidades-noticias .coluna.lista-noticias ul.list-not li img{display:inline-block;*display:inline;zoom:1;vertical-align:top;max-width:100px;max-height:100px;margin-top:15px;margin-bottom:15px;}
.main-novidades-giro .coluna.detalhe ul.list-not li .data,.main-novidades-ler_giro .coluna.detalhe ul.list-not li .data,.main-novidades-ler .coluna.detalhe ul.list-not li .data,.main-novidades-noticias .coluna.detalhe ul.list-not li .data,.main-novidades-giro .coluna.lista-noticias ul.list-not li .data,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li .data,.main-novidades-ler .coluna.lista-noticias ul.list-not li .data,.main-novidades-noticias .coluna.lista-noticias ul.list-not li .data{position:absolute;top:0;right:0;background-color:#4bc2bb;color:#00897b;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:bold;padding:0 10px;}
.main-novidades-giro .coluna.detalhe ul.list-not li .texto,.main-novidades-ler_giro .coluna.detalhe ul.list-not li .texto,.main-novidades-ler .coluna.detalhe ul.list-not li .texto,.main-novidades-noticias .coluna.detalhe ul.list-not li .texto,.main-novidades-giro .coluna.lista-noticias ul.list-not li .texto,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li .texto,.main-novidades-ler .coluna.lista-noticias ul.list-not li .texto,.main-novidades-noticias .coluna.lista-noticias ul.list-not li .texto{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:500px;margin-top:18px;left:125px;}.main-novidades-giro .coluna.detalhe ul.list-not li .texto h3,.main-novidades-ler_giro .coluna.detalhe ul.list-not li .texto h3,.main-novidades-ler .coluna.detalhe ul.list-not li .texto h3,.main-novidades-noticias .coluna.detalhe ul.list-not li .texto h3,.main-novidades-giro .coluna.lista-noticias ul.list-not li .texto h3,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li .texto h3,.main-novidades-ler .coluna.lista-noticias ul.list-not li .texto h3,.main-novidades-noticias .coluna.lista-noticias ul.list-not li .texto h3{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;color:#95DBD7;line-height:120%;padding:2px 0 0 15px;}
.main-novidades-giro .coluna.detalhe ul.list-not li .texto p,.main-novidades-ler_giro .coluna.detalhe ul.list-not li .texto p,.main-novidades-ler .coluna.detalhe ul.list-not li .texto p,.main-novidades-noticias .coluna.detalhe ul.list-not li .texto p,.main-novidades-giro .coluna.lista-noticias ul.list-not li .texto p,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li .texto p,.main-novidades-ler .coluna.lista-noticias ul.list-not li .texto p,.main-novidades-noticias .coluna.lista-noticias ul.list-not li .texto p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#fff;line-height:150%;padding:2px 0 0 15px;}
.main-novidades-giro .coluna.detalhe ul.list-not li a,.main-novidades-ler_giro .coluna.detalhe ul.list-not li a,.main-novidades-ler .coluna.detalhe ul.list-not li a,.main-novidades-noticias .coluna.detalhe ul.list-not li a,.main-novidades-giro .coluna.lista-noticias ul.list-not li a,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li a,.main-novidades-ler .coluna.lista-noticias ul.list-not li a,.main-novidades-noticias .coluna.lista-noticias ul.list-not li a{min-height:118px;height:100%;display:block;background-color:#24ada4;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main-novidades-giro .coluna.detalhe ul.list-not li a:hover,.main-novidades-ler_giro .coluna.detalhe ul.list-not li a:hover,.main-novidades-ler .coluna.detalhe ul.list-not li a:hover,.main-novidades-noticias .coluna.detalhe ul.list-not li a:hover,.main-novidades-giro .coluna.lista-noticias ul.list-not li a:hover,.main-novidades-ler_giro .coluna.lista-noticias ul.list-not li a:hover,.main-novidades-ler .coluna.lista-noticias ul.list-not li a:hover,.main-novidades-noticias .coluna.lista-noticias ul.list-not li a:hover{background-color:#430e5d;}
.main-novidades-giro .coluna.detalhe .light,.main-novidades-ler_giro .coluna.detalhe .light,.main-novidades-ler .coluna.detalhe .light,.main-novidades-noticias .coluna.detalhe .light,.main-novidades-giro .coluna.lista-noticias .light,.main-novidades-ler_giro .coluna.lista-noticias .light,.main-novidades-ler .coluna.lista-noticias .light,.main-novidades-noticias .coluna.lista-noticias .light{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#430e5d;font-style:italic;margin:3px 0;}
.main-novidades-giro .coluna.detalhe .light-giro,.main-novidades-ler_giro .coluna.detalhe .light-giro,.main-novidades-ler .coluna.detalhe .light-giro,.main-novidades-noticias .coluna.detalhe .light-giro,.main-novidades-giro .coluna.lista-noticias .light-giro,.main-novidades-ler_giro .coluna.lista-noticias .light-giro,.main-novidades-ler .coluna.lista-noticias .light-giro,.main-novidades-noticias .coluna.lista-noticias .light-giro{text-align:right;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;color:#213F53;font-style:italic;height:18px;}.main-novidades-giro .coluna.detalhe .light-giro .data,.main-novidades-ler_giro .coluna.detalhe .light-giro .data,.main-novidades-ler .coluna.detalhe .light-giro .data,.main-novidades-noticias .coluna.detalhe .light-giro .data,.main-novidades-giro .coluna.lista-noticias .light-giro .data,.main-novidades-ler_giro .coluna.lista-noticias .light-giro .data,.main-novidades-ler .coluna.lista-noticias .light-giro .data,.main-novidades-noticias .coluna.lista-noticias .light-giro .data{display:inline-block;*display:inline;zoom:1;vertical-align:top;background-color:#213F53;color:#fff;height:18px;line-height:18px;padding:0 10px;}
.main-novidades-giro .coluna.detalhe .titulo,.main-novidades-ler_giro .coluna.detalhe .titulo,.main-novidades-ler .coluna.detalhe .titulo,.main-novidades-noticias .coluna.detalhe .titulo,.main-novidades-giro .coluna.lista-noticias .titulo,.main-novidades-ler_giro .coluna.lista-noticias .titulo,.main-novidades-ler .coluna.lista-noticias .titulo,.main-novidades-noticias .coluna.lista-noticias .titulo{height:398px;width:600px;position:relative;}.main-novidades-giro .coluna.detalhe .titulo h2,.main-novidades-ler_giro .coluna.detalhe .titulo h2,.main-novidades-ler .coluna.detalhe .titulo h2,.main-novidades-noticias .coluna.detalhe .titulo h2,.main-novidades-giro .coluna.lista-noticias .titulo h2,.main-novidades-ler_giro .coluna.lista-noticias .titulo h2,.main-novidades-ler .coluna.lista-noticias .titulo h2,.main-novidades-noticias .coluna.lista-noticias .titulo h2{max-width:400px;line-height:31px;padding:5px 7px;position:absolute;top:20px;left:0;background-color:rgba(67, 14, 93, 0.8);color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:24px;font-weight:bold;}
.main-novidades-giro .coluna.detalhe .olho,.main-novidades-ler_giro .coluna.detalhe .olho,.main-novidades-ler .coluna.detalhe .olho,.main-novidades-noticias .coluna.detalhe .olho,.main-novidades-giro .coluna.lista-noticias .olho,.main-novidades-ler_giro .coluna.lista-noticias .olho,.main-novidades-ler .coluna.lista-noticias .olho,.main-novidades-noticias .coluna.lista-noticias .olho{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;font-style:italic;color:#fff;padding:10px 45px;margin:10px 0;min-height:39px;background:url('../_imgs/layout/aspas-olho.png') center center no-repeat;}
.main-novidades-giro .coluna.detalhe .olho-giro,.main-novidades-ler_giro .coluna.detalhe .olho-giro,.main-novidades-ler .coluna.detalhe .olho-giro,.main-novidades-noticias .coluna.detalhe .olho-giro,.main-novidades-giro .coluna.lista-noticias .olho-giro,.main-novidades-ler_giro .coluna.lista-noticias .olho-giro,.main-novidades-ler .coluna.lista-noticias .olho-giro,.main-novidades-noticias .coluna.lista-noticias .olho-giro{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;font-style:italic;color:#213F53;padding:10px 45px 10px 0;margin:20px 0;min-height:39px;background:url('../_imgs/layout/aspa-direita.png') right center no-repeat;}
.main-novidades-giro .coluna.detalhe .texto,.main-novidades-ler_giro .coluna.detalhe .texto,.main-novidades-ler .coluna.detalhe .texto,.main-novidades-noticias .coluna.detalhe .texto,.main-novidades-giro .coluna.lista-noticias .texto,.main-novidades-ler_giro .coluna.lista-noticias .texto,.main-novidades-ler .coluna.lista-noticias .texto,.main-novidades-noticias .coluna.lista-noticias .texto{margin:5px 0 20px 0;}.main-novidades-giro .coluna.detalhe .texto p,.main-novidades-ler_giro .coluna.detalhe .texto p,.main-novidades-ler .coluna.detalhe .texto p,.main-novidades-noticias .coluna.detalhe .texto p,.main-novidades-giro .coluna.lista-noticias .texto p,.main-novidades-ler_giro .coluna.lista-noticias .texto p,.main-novidades-ler .coluna.lista-noticias .texto p,.main-novidades-noticias .coluna.lista-noticias .texto p{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;margin-bottom:15px;line-height:150%;}.main-novidades-giro .coluna.detalhe .texto p a,.main-novidades-ler_giro .coluna.detalhe .texto p a,.main-novidades-ler .coluna.detalhe .texto p a,.main-novidades-noticias .coluna.detalhe .texto p a,.main-novidades-giro .coluna.lista-noticias .texto p a,.main-novidades-ler_giro .coluna.lista-noticias .texto p a,.main-novidades-ler .coluna.lista-noticias .texto p a,.main-novidades-noticias .coluna.lista-noticias .texto p a{color:#fff;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main-novidades-giro .coluna.detalhe .texto p a:hover,.main-novidades-ler_giro .coluna.detalhe .texto p a:hover,.main-novidades-ler .coluna.detalhe .texto p a:hover,.main-novidades-noticias .coluna.detalhe .texto p a:hover,.main-novidades-giro .coluna.lista-noticias .texto p a:hover,.main-novidades-ler_giro .coluna.lista-noticias .texto p a:hover,.main-novidades-ler .coluna.lista-noticias .texto p a:hover,.main-novidades-noticias .coluna.lista-noticias .texto p a:hover{color:#213f53;}
.main-novidades-giro .coluna.detalhe .borda,.main-novidades-ler_giro .coluna.detalhe .borda,.main-novidades-ler .coluna.detalhe .borda,.main-novidades-noticias .coluna.detalhe .borda,.main-novidades-giro .coluna.lista-noticias .borda,.main-novidades-ler_giro .coluna.lista-noticias .borda,.main-novidades-ler .coluna.lista-noticias .borda,.main-novidades-noticias .coluna.lista-noticias .borda{border-top:1px #125160 solid;}
.main-novidades-giro .coluna.lateral,.main-novidades-ler_giro .coluna.lateral,.main-novidades-ler .coluna.lateral,.main-novidades-noticias .coluna.lateral{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:340px;overflow:hidden;}
.main-novidades-giro .caixa-voltar,.main-novidades-ler_giro .caixa-voltar,.main-novidades-ler .caixa-voltar,.main-novidades-noticias .caixa-voltar{height:37px;border-bottom:2px #4bc2bb solid;margin-bottom:20px;}.main-novidades-giro .caixa-voltar.semborda,.main-novidades-ler_giro .caixa-voltar.semborda,.main-novidades-ler .caixa-voltar.semborda,.main-novidades-noticias .caixa-voltar.semborda{border:none !important;}
.main-novidades-giro .caixa-voltar a,.main-novidades-ler_giro .caixa-voltar a,.main-novidades-ler .caixa-voltar a,.main-novidades-noticias .caixa-voltar a{display:block;width:235px;background-color:#4bc2bb;text-align:center;height:37px;line-height:37px;color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main-novidades-giro .caixa-voltar a:hover,.main-novidades-ler_giro .caixa-voltar a:hover,.main-novidades-ler .caixa-voltar a:hover,.main-novidades-noticias .caixa-voltar a:hover{color:#125160;}
.main-novidades-giro p.maior{width:100%;}
.main-novidades-giro #lista-giro{margin:20px 0;padding:20px 0;border-top:2px #5DC8C2 solid;}.main-novidades-giro #lista-giro .portrait{width:310px;margin-bottom:20px;position:relative;}.main-novidades-giro #lista-giro .portrait a{display:block;}.main-novidades-giro #lista-giro .portrait a img{width:310px;}
.main-novidades-giro #lista-giro .portrait a .nome{position:absolute;top:0;left:0;max-width:270px;padding:3px 10px;background-color:rgba(67, 14, 93, 0.8);color:#fff;line-height:130%;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:18px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main-novidades-giro #lista-giro .portrait a .data{position:absolute;right:0;bottom:0;background-color:#213F53;color:#fff;text-align:center;padding:0 10px;height:18px;line-height:18px;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;}
.main-novidades-giro #lista-giro .portrait a:hover .nome{background-color:rgba(18, 81, 96, 0.8);}
.main-novidades-giro #pegar-mais-imagens{height:40px;}.main-novidades-giro #pegar-mais-imagens a{margin:0 auto;display:block;width:300px;height:40px;line-height:40px;text-align:center;color:#fff;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;background-color:#125160;}.main-novidades-giro #pegar-mais-imagens a:active,.main-novidades-giro #pegar-mais-imagens a:visited{color:#fff;}
.main-novidades-giro #pegar-mais-imagens a:hover{background-color:#430e5d;}
#facebook{border:2px #fff solid;background-color:#fff;}
#compartilhar-noticias{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;color:#fff;height:170px;width:135px;float:right;line-height:120%;padding-top:50px;text-align:center;}#compartilhar-noticias ul{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:112px;height:40px;list-style:none;font-size:0;}#compartilhar-noticias ul li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:25px;height:40px;margin-left:3px;}#compartilhar-noticias ul li.primeiro{margin-left:0;}
#compartilhar-noticias ul li.share-email a{background:url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;}
#compartilhar-noticias ul li.share-facebook a{background:url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;}
#compartilhar-noticias ul li.share-twitter a{background:url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;}
#compartilhar-noticias ul li.share-tumblr a{background:url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;}
#compartilhar-noticias ul li a{text-indent:-99999px;display:block;width:28px;height:40px;-webkit-transition:background-position 0.3s ease-in-out;-moz-transition:background-position 0.3s ease-in-out;-o-transition:background-position 0.3s ease-in-out;transition:background-position 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
#compartilhar-noticias ul li a:hover{background-position:center 5px;}
#comentarios{padding:18px 20px;width:300px;background-color:#b9dce3;-webkit-border-radius:15px;-moz-border-radius:15px;-o-border-radius:15px;border-radius:15px;behavior:url('PIE.htc');overflow:hidden;}#comentarios.large{width:980px;}
#comentarios #inner{width:300px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner.hid{height:24px;padding:0;overflow:hidden;opacity:0;background:url('../_imgs/layout/ajax-loader.gif') center center no-repeat;}
#comentarios #inner .botao-roxo{display:block;text-align:center;background-color:#125160;color:#fff;height:40px;line-height:40px;margin-bottom:23px;-webkit-border-radius:5px;-moz-border-radius:5px;-o-border-radius:5px;border-radius:5px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:20px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner .botao-roxo.fonte-verde{margin:7px 0 0 0;background-color:#430e5d;color:#24ada4 !important;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;}#comentarios #inner .botao-roxo.fonte-verde:hover{color:#fff !important;}
#comentarios #inner .botao-roxo:active,#comentarios #inner .botao-roxo:visited{color:#fff;}
#comentarios #inner .botao-roxo:hover{background-color:#430e5d;}
#comentarios #inner p{font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#430e5d;}#comentarios #inner p.small{font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;line-height:130%;margin-top:15px;}
#comentarios #inner p .menor{font-size:12px;}
#comentarios #inner h2{height:44px;line-height:44px;text-align:center;border-bottom:1px #24ada4 solid;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:16px;font-weight:bold;color:#430e5d;margin-bottom:15px;}
#comentarios #inner #comment-list-wrapper{width:300px;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
#comentarios #inner #btn-mais-comentarios{display:block;text-align:center;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#00897b;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner #btn-mais-comentarios:hover{color:#430e5d;}
#comentarios #inner .lista-comentarios{width:300px;margin-top:10px;border-bottom:1px #24ada4 solid;}#comentarios #inner .lista-comentarios li{padding:15px 0;border-top:1px #24ada4 solid;}#comentarios #inner .lista-comentarios li p{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#430e5d;line-height:150%;}#comentarios #inner .lista-comentarios li p img{float:left;margin:0 10px 10px 0;max-width:60px;max-height:60px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');}
#comentarios #inner .lista-comentarios li p.assinatura{clear:left;font-style:italic;font-family:'Verdana','Arial',sans-serif;font-size:11px;font-weight:normal;line-height:100%;color:#24ada4;}#comentarios #inner .lista-comentarios li p.assinatura strong{display:block;font-size:10px;font-weight:bold;}
#comentarios #inner form#login-recuperacao,#comentarios #inner form#login-comentarios{padding:20px 20px 10px 20px;width:260px;background-color:#24ada4;margin:15px 0 25px 0;}#comentarios #inner form#login-recuperacao input[type="email"],#comentarios #inner form#login-comentarios input[type="email"],#comentarios #inner form#login-recuperacao input[type="password"],#comentarios #inner form#login-comentarios input[type="password"]{border:0;margin:0 0 5px 0;padding:0;padding:3px 5px;width:250px;height:24px;line-height:24px;background-color:#5DC8C2;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#430e5d;text-align:center;}#comentarios #inner form#login-recuperacao input[type="email"]::-webkit-input-placeholder,#comentarios #inner form#login-comentarios input[type="email"]::-webkit-input-placeholder,#comentarios #inner form#login-recuperacao input[type="password"]::-webkit-input-placeholder,#comentarios #inner form#login-comentarios input[type="password"]::-webkit-input-placeholder{color:#8983a0;}
#comentarios #inner form#login-recuperacao input[type="email"]:-moz-placeholder,#comentarios #inner form#login-comentarios input[type="email"]:-moz-placeholder,#comentarios #inner form#login-recuperacao input[type="password"]:-moz-placeholder,#comentarios #inner form#login-comentarios input[type="password"]:-moz-placeholder{color:#8983a0;}
#comentarios #inner form#login-recuperacao input[type="email"]::-moz-placeholder,#comentarios #inner form#login-comentarios input[type="email"]::-moz-placeholder,#comentarios #inner form#login-recuperacao input[type="password"]::-moz-placeholder,#comentarios #inner form#login-comentarios input[type="password"]::-moz-placeholder{color:#8983a0;}
#comentarios #inner form#login-recuperacao input[type="email"]:-ms-input-placeholder,#comentarios #inner form#login-comentarios input[type="email"]:-ms-input-placeholder,#comentarios #inner form#login-recuperacao input[type="password"]:-ms-input-placeholder,#comentarios #inner form#login-comentarios input[type="password"]:-ms-input-placeholder{color:#8983a0;}
#comentarios #inner form#login-recuperacao input[type="submit"],#comentarios #inner form#login-comentarios input[type="submit"]{display:block;border:0;margin:0;padding:0;width:260px;height:30px;line-height:30px;text-align:center;color:#24ada4;display:block;background-color:#430e5d;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner form#login-recuperacao input[type="submit"]:hover,#comentarios #inner form#login-comentarios input[type="submit"]:hover{color:#fff;cursor:pointer;}
#comentarios #inner form#login-recuperacao a.esqueci-senha,#comentarios #inner form#login-comentarios a.esqueci-senha{display:block;margin-top:8px;width:260px;text-align:center;font-family:'Verdana','Arial',sans-serif;font-size:10px;font-weight:normal;font-style:italic;color:#430e5d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner form#login-recuperacao a.esqueci-senha:hover,#comentarios #inner form#login-comentarios a.esqueci-senha:hover{color:#fff;}
#comentarios #inner form#login-cadastro-comentarios label{display:block;text-align:center;margin-bottom:8px;line-height:130%;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#430e5d;}#comentarios #inner form#login-cadastro-comentarios label input[type="text"],#comentarios #inner form#login-cadastro-comentarios label input[type="email"],#comentarios #inner form#login-cadastro-comentarios label input[type="password"]{display:block;margin:0;padding:3px 5px;border:0;background-color:#5DC8C2;text-align:center;color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#430e5d;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');width:290px;height:24px;line-height:24px;}#comentarios #inner form#login-cadastro-comentarios label input[type="text"]::-webkit-input-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="email"]::-webkit-input-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="password"]::-webkit-input-placeholder{color:#8983a0;}
#comentarios #inner form#login-cadastro-comentarios label input[type="text"]:-moz-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="email"]:-moz-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="password"]:-moz-placeholder{color:#8983a0;}
#comentarios #inner form#login-cadastro-comentarios label input[type="text"]::-moz-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="email"]::-moz-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="password"]::-moz-placeholder{color:#8983a0;}
#comentarios #inner form#login-cadastro-comentarios label input[type="text"]:-ms-input-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="email"]:-ms-input-placeholder,#comentarios #inner form#login-cadastro-comentarios label input[type="password"]:-ms-input-placeholder{color:#8983a0;}
#comentarios #inner form#login-cadastro-comentarios label #fake-input{position:relative;height:30px;width:300px;margin-top:4px;}#comentarios #inner form#login-cadastro-comentarios label #fake-input input[type="file"]{height:30px;width:300px;position:absolute;z-index:0;top:0;left:0;opacity:0;}
#comentarios #inner form#login-cadastro-comentarios label #fake-input .hover{top:0;left:0;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');height:30px;line-height:30px;width:300px;position:absolute;z-index:1;background-color:#24ADA4;text-align:center;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;color:#430e5d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner form#login-cadastro-comentarios label #fake-input .hover:hover{color:#fff;cursor:pointer;}
#comentarios #inner form#login-cadastro-comentarios .checkboxes{padding:10px 10px 5px 10px;background-color:#5DC8C2;color:#430e5d;margin-bottom:10px;line-height:115%;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;}#comentarios #inner form#login-cadastro-comentarios .checkboxes label{font-weight:bold;margin:4px 0 0 0;padding:0;border:0;display:inline-block;*display:inline;zoom:1;vertical-align:top;width:138px;height:18px;line-height:18px;}
#comentarios #inner form#login-cadastro-comentarios input[type="submit"]{background-color:#430e5d;text-align:center;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;width:300px;color:#24ada4;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;border:0;padding:0;margin:0;height:50px;line-height:50px;}#comentarios #inner form#login-cadastro-comentarios input[type="submit"]:hover{color:#fff;cursor:pointer;}
#comentarios #inner form#form-comentario{margin-top:10px;}#comentarios #inner form#form-comentario textarea{border:0;margin:0;background-color:#5DC8C2;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');padding:10px;width:280px;height:170px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#430e5d;overflow:auto;resize:none;}
#comentarios #inner form#form-comentario input[type="submit"]{margin:10px 0 5px 0;padding:0;border:0;background-color:#430e5d;width:300px;text-align:center;height:30px;line-height:30px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:14px;font-weight:bold;color:#24ada4;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios #inner form#form-comentario input[type="submit"]:hover{color:#fff;cursor:pointer;}
#comentarios a#botao-cancelar-post{display:block;width:200px;margin:0 auto 0 auto;background-color:#24ADA4;color:#125160;text-align:center;height:20px;line-height:20px;-webkit-border-radius:6px;-moz-border-radius:6px;-o-border-radius:6px;border-radius:6px;behavior:url('PIE.htc');font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:12px;font-weight:normal;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}#comentarios a#botao-cancelar-post:active,#comentarios a#botao-cancelar-post:visited{color:#125160;}
#comentarios a#botao-cancelar-post:hover{color:#fff;}
