@import 'vars.less';

h2.titulosemimagem{
	line-height:140%;
	padding:3px 7px;
	background-color:rgba(67,14,93,.8);
	color:#fff;
	.caecilia(28px, bold);
}

.centro{
	h1{
		color:@roxo;
		.caecilia(30px, bold);
	}
	p.maior{
		.caecilia(16px, bold);
		color:#fff;
		line-height:180%;
		margin:3px 0;
		width:810px;
	}
	#paginacao{
		height:30px;
		margin:15px 0;
		a, strong{
			.inline;
			margin-right: 5px;
			width:30px;
			height:30px;
			line-height:30px;
			background-color:#5DC8C2;
			text-align:center;
			.caecilia(16px, bold);
			color:#fff;
		}
		strong{ background-color:#00CCFF; }
		a{
			.transition;
			&:active, &:visited{ color:#fff; }
			&:hover{ background-color:#00CCFF; }
		}
	}
}

.main-novidades-recursos{
	.centro{
		position:relative;
		#aspas{
			position:absolute;
			right:20px;
			top:0;
		}
		.maior{ margin-bottom:45px; }
		#barra-share-large{
			margin-bottom:40px;
		}
	}
}
.main-novidades-giro,
.main-novidades-ler_giro,
.main-novidades-ler,
.main-novidades-noticias{
	.coluna.detalhe,
	.coluna.lista-noticias{
		.inline;
		width:600px;
		margin-right:40px;
		h2{
			.caecilia(16px, bold);
			color:#fff;
		}
		ul.list-not{
			margin:40px 0 15px 0;
			width:600px;
			border-bottom:2px @verde_linhas solid;
			li{
				width:600px;
				min-height:118px;
				margin:0;
				border-top:2px @verde_linhas solid;
				position:relative;
				img{
					.inline;
					max-width:100px;
					max-height:100px;
					margin-top:15px;
					margin-bottom:15px;
				}
				.data{
					position:absolute;
					top:0;
					right:0;
					background-color:@verde_linhas;
					color:@verde_escuro;
					.verdana(10px, bold);
					padding:0 10px;
				}
				.texto{
					.inline;
					width:500px;
					margin-top:18px;
					left:125px;
					h3{
						.caecilia(24px, bold);
						color:#95DBD7;
						line-height:120%;
						padding:2px 0 0 15px;
					}
					p{
						.verdana(12px);
						color:#fff;
						line-height:150%;
						padding:2px 0 0 15px;
					}
				}
				a{
					min-height: 118px;
					height:100%;
					display:block;
					background-color:@verde_principal;
					.transition;
					&:active, &:visited{}
					&:hover{
						background-color:@roxo;
					}
				}
			}
		}
		.light{
			.verdana(14px);
			color:@roxo;
			font-style:italic;
			margin:3px 0;
		}
		.light-giro{
			text-align:right;
			.verdana(11px);
			color:#213F53;
			font-style:italic;
			height:18px;
			.data{
				.inline;
				background-color:#213F53;
				color:#fff;
				height:18px;
				line-height:18px;
				padding:0 10px;
			}
		}
		.titulo{
			height:398px;
			width:600px;
			position:relative;
			h2{
				max-width:400px;
				line-height:31px;
				padding:5px 7px;
				position:absolute;
				top:20px;
				left:0;
				background-color:rgba(67,14,93,.8);
				color:#fff;
				.caecilia(24px, bold);
			}
			
		}
		.olho{
			.verdana(14px, bold);
			font-style: italic;
			color:#fff;
			padding:10px 45px;
			margin:10px 0;
			min-height:39px;
			background:url('../_imgs/layout/aspas-olho.png') center center no-repeat;
		}
		.olho-giro{
			.verdana(14px, bold);
			font-style: italic;
			color:#213F53;
			padding:10px 45px 10px 0;
			margin:20px 0;
			min-height:39px;
			background:url('../_imgs/layout/aspa-direita.png') right center no-repeat;
		}
		.texto{
			margin:5px 0 20px 0;
			p{
				.verdana(14px);
				color:#fff;
				margin-bottom:15px;
				line-height:150%;
				a{
					color:#fff;
					.transition;
					&:active, &:visited{}
					&:hover{ color:@azul_escuro; }
				}
			}
		}
		.borda{
			border-top:1px @verde_submenu solid;
			//padding-top:15px;
		}
	}
	.coluna.lateral{
		.inline;
		width:340px;
		overflow:hidden;
	}
	.caixa-voltar{
		height:37px;
		border-bottom:2px @verde_linhas solid;
		margin-bottom:20px;
		&.semborda{ border:none !important;}
		a{
			display:block;
			width:235px;
			background-color:@verde_linhas;
			text-align:center;
			height:37px;
			line-height:37px;
			color:#fff;
			.caecilia(12px, bold);
			.transition;
			&:active, &:visited{}
			&:hover{
				color:@verde_submenu;
			}
		}
	}
}
.main-novidades-giro{
	p.maior{ width:100%; }
	#lista-giro{
		margin:20px 0;
		padding:20px 0;
		border-top:2px #5DC8C2 solid;
		.portrait{
			width:310px;
			margin-bottom:20px;
			position:relative;
			a{
				display:block;
				img{
					width:310px;
				}
				.nome{
					position:absolute;
					top:0;
					left:0;
					max-width: 270px;
					padding:3px 10px;
					background-color:rgba(67,14,93,.8);
					color:#fff;
					line-height: 130%;
					.caecilia(18px, bold);
					.transition;
				}
				.data{
					position:absolute;
					right:0;
					bottom:0;
					background-color:#213F53;
					color:#fff;
					text-align:center;
					padding:0 10px;
					height:18px;
					line-height:18px;
					.verdana(11px);
				}
				&:hover{
					.nome{
						background-color:rgba(18,81,96,.8);
					}
				}
			}
		}
	}
	#pegar-mais-imagens{
		height:40px;
		a{
			margin:0 auto;
			display:block;
			width:300px;
			height:40px;
			line-height:40px;
			text-align:center;
			color:#fff;
			.caecilia(20px, bold);
			.arredondada(5px);
			.transition;
			background-color:#125160;
			&:active, &:visited{ color:#fff; }
			&:hover{
				background-color:@roxo;
			}
		}
	}	
}



#facebook{
	border:2px #fff solid;
	background-color:#fff;
}

#compartilhar-noticias{
	.caecilia(20px, bold);
	color:#fff;
	height:170px;
	width:135px;
	float:right;
	line-height:120%;
	padding-top:50px;
	text-align:center;
	ul{
		.inline;
		width:112px;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.primeiro{ margin-left:0; }
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}				
}

#comentarios{
	padding:18px 20px;
	width:300px;
	&.large{ width:980px;}
	background-color:@azul_clarinho;
	.arredondada(15px);
	overflow:hidden;
	#inner{
		width:300px;
		.transition;
		&.hid{
			height:24px;
			padding:0;
			overflow:hidden;
			opacity:0;
			background:url('../_imgs/layout/ajax-loader.gif') center center no-repeat;
		}
		.botao-roxo{
			display:block;
			text-align:center;
			background-color:@verde_submenu;
			color:#fff;
			height:40px;
			line-height:40px;
			margin-bottom:23px;
			.arredondada(5px);
			.caecilia(20px, bold);
			.transition;
			&.fonte-verde{
				margin:7px 0 0 0;
				background-color:@roxo;
				color:@verde_principal !important;
				.caecilia(14px, bold);
				&:hover{ color:#fff !important; }
			}
			&:active, &:visited{ color:#fff; }
			&:hover{ background-color:@roxo; }
		}
		p{
			.caecilia(14px, bold);
			color:@roxo;
			&.small{
				.verdana(10px);
				line-height:130%;
				margin-top:15px;
			}
			.menor{
				font-size:12px;
			}
		}
		h2{
			height:44px;
			line-height:44px;
			text-align:center;
			border-bottom:1px @verde_principal solid;
			.caecilia(16px, bold);
			color:@roxo;
			margin-bottom:15px;
		}
		#comment-list-wrapper{
			width:300px;
			.transition;
		}
		#btn-mais-comentarios{
			display:block;
			text-align:center;
			.caecilia(14px, bold);
			color:@verde_escuro;
			.transition;
			&:hover{
				color:@roxo;
			}
		}
		.lista-comentarios{
			width:300px;
			margin-top:10px;
			border-bottom:1px @verde_principal solid;
			li{
				padding:15px 0;
				border-top:1px @verde_principal solid;
				p{
					.verdana(12px);
					color:@roxo;
					line-height:150%;
					img{
						float:left;
						margin:0 10px 10px 0;
						max-width:60px;
						max-height:60px;
						.arredondada(6px);
					}
					&.assinatura{
						clear:left;
						font-style: italic;
						.verdana(11px);
						line-height:100%;
						color:@verde_principal;
						strong{
							display:block;
							font-size:10px;
							font-weight: bold;
						}
					}
				}
			}
		}
		form#login-recuperacao,
		form#login-comentarios{
			padding:20px 20px 10px 20px;
			width:260px;
			background-color:@verde_principal;
			margin:15px 0 25px 0;
			input[type="email"],
			input[type="password"]{
				border:0;
				margin:0 0 5px 0;
				padding:0;
				padding:3px 5px;
				width:250px;
				height:24px;
				line-height:24px;
				background-color:#5DC8C2;
				.arredondada(6px);
				.caecilia(14px, bold);
				color:@roxo;
				text-align:center;
				&::-webkit-input-placeholder{ color:#8983a0; }
				&:-moz-placeholder { color:#8983a0; }
				&::-moz-placeholder { color:#8983a0; }
				&:-ms-input-placeholder { color:#8983a0; }
			}
			input[type="submit"]{
				display:block;
				border:0;
				margin:0;
				padding:0;
				width:260px;
				height:30px;
				line-height:30px;
				text-align:center;
				color:@verde_principal;
				display:block;
				background-color:@roxo;
				.arredondada(6px);
				.caecilia(14px, bold);
				.transition;
				&:hover{
					color:#fff;
					cursor:pointer;
				}
			}
			a.esqueci-senha{
				display:block;
				margin-top:8px;
				width:260px;
				text-align:center;
				.verdana(10px);
				font-style:italic;
				color:@roxo;
				.transition;
				&:hover{ color:#fff; }
			}
		}
		form#login-cadastro-comentarios{
			label{
				display:block;
				text-align:center;
				margin-bottom:8px;
				line-height:130%;
				.verdana(12px);
				color:@roxo;
				input[type="text"],
				input[type="email"],
				input[type="password"]{
					display:block;
					margin:0;
					padding:3px 5px;
					border:0;
					background-color:#5DC8C2;
					text-align:center;
					color:@roxo;
					.caecilia(14px, bold);
					color:@roxo;
					.arredondada(6px);
					width:290px;
					height:24px;
					line-height:24px;
					&::-webkit-input-placeholder{ color:#8983a0; }
					&:-moz-placeholder { color:#8983a0; }
					&::-moz-placeholder { color:#8983a0; }
					&:-ms-input-placeholder { color:#8983a0; }
				}
				#fake-input{
					position:relative;
					height:30px;
					width:300px;
					margin-top:4px;
					input[type="file"]{
						height:30px;
						width:300px;
						position:absolute;
						z-index:0;
						top:0;
						left:0;
						opacity:0;
					}
					.hover{
						top:0;
						left:0;
						.arredondada(6px);
						height:30px;
						line-height:30px;
						width:300px;
						position:absolute;
						z-index:1;
						background-color:#24ADA4;
						text-align:center;
						.verdana(12px);
						color:@roxo;
						.transition;
						&:hover{
							color:#fff;
							cursor:pointer;
						}
					}
				}				
			}
			.checkboxes{
				padding:10px 10px 5px 10px;
				background-color:#5DC8C2;
				color:@roxo;
				margin-bottom:10px;
				line-height: 115%;
				.arredondada(6px);
				.verdana(12px);
				label{
					font-weight:bold;
					margin:4px 0 0 0;
					padding:0;
					border:0;
					.inline;
					width:138px;
					height:18px;
					line-height:18px;
				}
			}
			input[type="submit"]{
				background-color:@roxo;
				text-align:center;
				.arredondada(6px);
				.transition;
				width:300px;
				color:@verde_principal;
				.caecilia(14px);
				border:0;
				padding:0;
				margin:0;
				height:50px;
				line-height:50px;
				&:hover{
					color:#fff;
					cursor:pointer;
				}
			}			
		}
		form#form-comentario{
			margin-top:10px;
			textarea{
				border:0;
				margin:0;
				background-color:#5DC8C2;
				.arredondada(6px);
				padding:10px;
				width:280px;
				height:170px;
				.verdana(14px);
				color:@roxo;
				overflow:auto;
				resize:none;
			}
			input[type="submit"]{
				margin:10px 0 5px 0;
				padding:0;
				border:0;
				background-color:@roxo;
				width:300px;
				text-align:center;
				height:30px;
				line-height:30px;
				.arredondada(6px);
				.caecilia(14px, bold);
				color:@verde_principal;
				.transition;
				&:hover{
					color:#fff;
					cursor:pointer;
				}
			}
		}
	}
	a#botao-cancelar-post{
		display:block;
		width:200px;
		margin:0 auto 0 auto;
		background-color:#24ADA4;
		color:#125160;
		text-align:center;
		height:20px;
		line-height:20px;
		.arredondada(6px);
		.caecilia(12px);
		.transition;
		&:active, &:visited{ color:#125160; }
		&:hover{
			color:#fff;
		}
	}	
}