@import 'vars.less';

.main{
	.borda{
		border-top:1px @verde_linhas solid;
	}
	.centro{
		padding:30px 0;
		font-size:0;
		.metade{
			.inline;
			width:490px;
			h1{
				color:@roxo;
				.caecilia(50px, bold);
				line-height: 140%;
			}
			h2{
				.caecilia(24px, bold);
				color:#95DBD7;
				line-height: 160%;
				margin-bottom:15px;
			}
			p{
				margin-bottom:15px;
				.caecilia(16px, bold);
				color:#fff;
				line-height: 160%;
			}
			&.fundo-img{
				&.pt{ background:url('../_imgs/layout/pegadahydros-pt.png') 15px top no-repeat; }
				&.en{ background:url('../_imgs/layout/pegadahydros-en.png') 15px top no-repeat; }
				&.es{ background:url('../_imgs/layout/pegadahydros-es.png') 15px top no-repeat; }
				padding-top:155px;
				a{
					width:280px;
					height:90px;
					display:block;
					float:right;
					margin-bottom:10px;
				}
				#google-play{ background:url('../_imgs/layout/botao-google-play.png') center center no-repeat; }
				#app-store{ background:url('../_imgs/layout/botao-itunes.png') center center no-repeat; }
			}
			&.fundo-img2{
				width:425px;
				padding-top:438px;
				min-height:200px;
				background:url('../_imgs/layout/game-pegadahydros.png') 20px top no-repeat;
				a{
					width:280px;
					height:90px;
					display:block;
					float:right;
					margin-bottom:10px;
				}
				#google-play{ background:url('../_imgs/layout/botao-google-play.png') center center no-repeat; }
				#app-store{ background:url('../_imgs/layout/botao-itunes.png') center center no-repeat; }
			}
			&.largo{
				width:555px;
			}
		}
	}
}

.compartilhar-pegada{
	.caecilia(20px, bold);
	color:#fff;
	width:120px;
	line-height:120%;
	float:right;
	text-align:center;
	ul{
		.inline;
		width:112px;
		height:40px;
		list-style:none;
		font-size:0;
		li{
			.inline;
			width:25px;
			height:40px;
			margin-left:3px;
			&.primeiro{ margin-left:0; }
			&.share-email a{ background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat; }
			&.share-facebook a{ background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat; }
			&.share-twitter a{ background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat; }
			&.share-tumblr a{ background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat; }
			a{
				text-indent:-99999px;
				display: block;
				width:28px;
				height:40px;
				.transition(background-position, .3s, ease-in-out);
				.transition;
				&:active, &:visited{}
				&:hover{
					background-position:center 5px;
				}
			}
		}
	}	
}