.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.main .borda {
  border-top: 1px #4bc2bb solid;
}
.main .centro {
  padding: 30px 0;
  font-size: 0;
}
.main .centro .metade {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 490px;
}
.main .centro .metade h1 {
  color: #430e5d;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 50px;
  font-weight: bold;
  line-height: 140%;
}
.main .centro .metade h2 {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #95DBD7;
  line-height: 160%;
  margin-bottom: 15px;
}
.main .centro .metade p {
  margin-bottom: 15px;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 160%;
}
.main .centro .metade.fundo-img {
  padding-top: 155px;
}
.main .centro .metade.fundo-img.pt {
  background: url('../_imgs/layout/pegadahydros-pt.png') 15px top no-repeat;
}
.main .centro .metade.fundo-img.en {
  background: url('../_imgs/layout/pegadahydros-en.png') 15px top no-repeat;
}
.main .centro .metade.fundo-img.es {
  background: url('../_imgs/layout/pegadahydros-es.png') 15px top no-repeat;
}
.main .centro .metade.fundo-img a {
  width: 280px;
  height: 90px;
  display: block;
  float: right;
  margin-bottom: 10px;
}
.main .centro .metade.fundo-img #google-play {
  background: url('../_imgs/layout/botao-google-play.png') center center no-repeat;
}
.main .centro .metade.fundo-img #app-store {
  background: url('../_imgs/layout/botao-itunes.png') center center no-repeat;
}
.main .centro .metade.fundo-img2 {
  width: 425px;
  padding-top: 438px;
  min-height: 200px;
  background: url('../_imgs/layout/game-pegadahydros.png') 20px top no-repeat;
}
.main .centro .metade.fundo-img2 a {
  width: 280px;
  height: 90px;
  display: block;
  float: right;
  margin-bottom: 10px;
}
.main .centro .metade.fundo-img2 #google-play {
  background: url('../_imgs/layout/botao-google-play.png') center center no-repeat;
}
.main .centro .metade.fundo-img2 #app-store {
  background: url('../_imgs/layout/botao-itunes.png') center center no-repeat;
}
.main .centro .metade.largo {
  width: 555px;
}
.compartilhar-pegada {
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: 120px;
  line-height: 120%;
  float: right;
  text-align: center;
}
.compartilhar-pegada ul {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 112px;
  height: 40px;
  list-style: none;
  font-size: 0;
}
.compartilhar-pegada ul li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 25px;
  height: 40px;
  margin-left: 3px;
}
.compartilhar-pegada ul li.primeiro {
  margin-left: 0;
}
.compartilhar-pegada ul li.share-email a {
  background: url('../_imgs/layout/midias-email-25x25.png') center center no-repeat;
}
.compartilhar-pegada ul li.share-facebook a {
  background: url('../_imgs/layout/midias-facebook-25x25.png') center center no-repeat;
}
.compartilhar-pegada ul li.share-twitter a {
  background: url('../_imgs/layout/midias-twitter-25x25.png') center center no-repeat;
}
.compartilhar-pegada ul li.share-tumblr a {
  background: url('../_imgs/layout/midias-tumblr-25x25.png') center center no-repeat;
}
.compartilhar-pegada ul li a {
  text-indent: -99999px;
  display: block;
  width: 28px;
  height: 40px;
  -webkit-transition: background-position 0.3s ease-in-out;
  -moz-transition: background-position 0.3s ease-in-out;
  -o-transition: background-position 0.3s ease-in-out;
  transition: background-position 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.compartilhar-pegada ul li a:hover {
  background-position: center 5px;
}
