@import 'vars.less';

.politica{
	p{
		color:#fff;
		margin:3px 0;
		.arial(15px);
		&.strong{
			margin-top:30px;
			.caecilia(16px);
		}
		a{
			color:#fff;
			font-weight: bold;
			.transition;
			&:active, &:visited{color:#fff;}
			&:hover{color:@verde_escuro;}
		}
	}
}