.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}
.aviso {
  color: #9F6000;
  background-color: #FEEFB3;
  border: 2px #9F6000 solid;
}
.sucesso {
  border: 2px #C6D880 solid;
  background-color: #E6EFC2;
  color: #264409;
}
.falha {
  border: 2px #D8000C solid;
  color: #D8000C;
  background-color: #FFBABA;
}
.offscreen {
  display: block;
  text-indent: -999999999px;
}
.align-right {
  text-align: right;
}
.centro {
  width: 980px;
  padding: 0 0;
  margin: 0 auto;
}
.politica p {
  color: #fff;
  margin: 3px 0;
  font-family: 'Arial', sans-serif;
  font-size: 15px;
  font-weight: normal;
}
.politica p.strong {
  margin-top: 30px;
  font-family: 'Caecilia', 'Rokkitt', 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: normal;
}
.politica p a {
  color: #fff;
  font-weight: bold;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.politica p a:active,
.politica p a:visited {
  color: #fff;
}
.politica p a:hover {
  color: #00897b;
}
