.inline{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
.aviso{color:#9F6000;background-color:#FEEFB3;border:2px #9F6000 solid;}
.sucesso{border:2px #C6D880 solid;background-color:#E6EFC2;color:#264409;}
.falha{border:2px #D8000C solid;color:#D8000C;background-color:#FFBABA;}
.offscreen{display:block;text-indent:-999999999px;}
.align-right{text-align:right;}
.centro{width:980px;padding:0 0;margin:0 auto;}
.main #empresas{height:1054px;width:520px;margin:20px 0 10px 0;}.main #empresas .lista-empresas{font-size:0;width:520px;}.main #empresas .lista-empresas li{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:130px;height:130px;padding:20px;margin:0 5px 5px 0;background-color:#fff;}.main #empresas .lista-empresas li.semmargem{margin:0 0 5px 0;}
.main #empresas .lista-empresas li img{width:130px;height:130px;}
.main #empresas .lista-empresas li a{display:block;}
.main #paginacao-empresas{height:26px;line-height:26px;padding-right:30px;}.main #paginacao-empresas a{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#430e5d;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #paginacao-empresas a:active,.main #paginacao-empresas a:visited{color:#430e5d;}
.main #paginacao-empresas a:hover{color:#fff;}
.main #paginacao-empresas a#emp-nav-prev{float:left;}
.main #paginacao-empresas a#emp-nav-next{float:right;}
.main #pessoas{padding:15px 20px;width:380px;background:#430e5d;}.main #pessoas .animate{position:relative;width:380px;height:880px;}.main #pessoas .animate .lista-pessoas{width:380px;height:870px;list-style:none;margin-bottom:10px;}.main #pessoas .animate .lista-pessoas li{height:28px;line-height:28px;border-bottom:1px #24ada4 solid;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;}.main #pessoas .animate .lista-pessoas li .nome{float:left;}
.main #pessoas .animate .lista-pessoas li .pais{float:right;}
.main #pessoas #paginacao-pessoas{height:26px;line-height:26px;}.main #pessoas #paginacao-pessoas a{font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#24ada4;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.main #pessoas #paginacao-pessoas a:active,.main #pessoas #paginacao-pessoas a:visited{color:#24ada4;}
.main #pessoas #paginacao-pessoas a#pess-nav-prev{float:left;}
.main #pessoas #paginacao-pessoas a#pess-nav-next{float:right;}
.main #pessoas #paginacao-pessoas a:hover{color:#fff;}
.main #lanca-modal-adesao{display:block;width:420px;height:220px;position:relative;background:url('../_imgs/layout/bg-botao-modal.png') center center no-repeat;margin-bottom:50px;}.main #lanca-modal-adesao #box-participe{position:absolute;top:30px;left:28px;line-height:100%;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:30px;font-weight:bold;color:#fff;}
.main #lanca-modal-adesao #box-seja{width:280px;height:135px;position:absolute;top:70px;left:110px;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:40px;font-weight:bold;color:#00ccff;line-height:115%;}.main #lanca-modal-adesao #box-seja .frase1{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;font-size:30px;padding-left:100px;}
.main #lanca-modal-adesao #box-seja .frase2{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}
.main #lanca-modal-adesao #box-seja .frase3{-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;padding-left:20px;}
.main #lanca-modal-adesao:hover *{color:#fff;}
.ultalteracao .topo{font-size:0;}.ultalteracao .topo .destaque{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:225px;height:220px;background:url('../_imgs/layout/grafismo-comoparticipar.png') center center no-repeat;text-align:center;padding:85px 40px 0 40px;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:25px;font-weight:bold;color:#fff;line-height:170%;}
.ultalteracao .topo .titulo{display:inline-block;*display:inline;zoom:1;vertical-align:top;padding:15px 30px 0 30px;width:615px;}.ultalteracao .topo .titulo h1{color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:26px;font-weight:normal;}
.ultalteracao .topo .titulo h2{color:#430e5d;font-family:'Caecilia','Rokkitt','Verdana','Arial',sans-serif;font-size:52px;font-weight:normal;}
.ultalteracao .topo .titulo p{font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;line-height:150%;margin-top:30px;}
.ultalteracao .meio{text-align:center;margin-top:40px;}.ultalteracao .meio p{padding:0 115px;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;color:#fff;}
.ultalteracao .links-container{margin-top:40px;}.ultalteracao .links-container a.link-roxo{display:inline-block;*display:inline;zoom:1;vertical-align:top;width:395px;padding:40px;background-color:#430e5d;position:relative;-webkit-transition:all 0.3s ease-in;-moz-transition:all 0.3s ease-in;-o-transition:all 0.3s ease-in;transition:all 0.3s ease-in;}.ultalteracao .links-container a.link-roxo p{color:#fff;font-family:'Verdana','Arial',sans-serif;font-size:14px;font-weight:normal;line-height:150%;height:66px;margin-bottom:20px;}.ultalteracao .links-container a.link-roxo p .maior{font-size:22px;font-weight:bold;}
.ultalteracao .links-container a.link-roxo .verde{display:block;position:absolute;right:52px;top:200px;min-width:83px;padding-top:98px;background:url('../_imgs/layout/caixa_download.png') center top no-repeat;text-align:center;font-family:'Verdana','Arial',sans-serif;font-size:12px;font-weight:bold;color:#24ada4;}
.ultalteracao .links-container a.link-roxo.primeiro{margin-right:30px;}
.ultalteracao .links-container a.link-roxo:hover{background-color:#125160;}
