@import 'vars.less';

.main{
	#empresas{
		height:1054px;
		width:520px;
		margin:20px 0 10px 0;
		.lista-empresas{
			font-size:0;
			width:520px;
			li{
				.inline;
				width:130px;
				height:130px;
				padding:20px;
				margin:0 5px 5px 0;
				&.semmargem{ margin:0 0 5px 0; }
				background-color:#fff;
				img{
					width:130px;
					height:130px;
				}
				a{
					display:block;
				}				
			}
		}
	}
	#paginacao-empresas{
		height:26px;
		line-height:26px;
		padding-right:30px;
		a{
			.verdana(12px, bold);
			color:@roxo;
			.transition;
			&:active, &:visited{ color:@roxo; }
			&:hover{
				color:#fff;
			}
			&#emp-nav-prev{
				float:left;
			}
			&#emp-nav-next{
				float:right;
			}
		}
	}
	#pessoas{
		padding:15px 20px;
		width:380px;
		background:@roxo;
		.animate{
			position:relative;
			width:380px;
			height:880px;
			.lista-pessoas{
				width:380px;
				height:870px;
				list-style:none;
				margin-bottom:10px;
				li{
					height:28px;
					line-height:28px;
					border-bottom:1px @verde_principal solid;
					.verdana(14px);
					color:#fff;
					.nome{ float:left; }
					.pais{ float:right; }
				}
			}
		}
		#paginacao-pessoas{
			height:26px;
			line-height:26px;
			a{
				.verdana(12px, bold);
				color:@verde_principal;
				.transition;
				&:active, &:visited{ color:@verde_principal; }
				&#pess-nav-prev{float:left;}
				&#pess-nav-next{float:right;}
				&:hover{
					color:#fff;
				}
			}
		}
	}
	#lanca-modal-adesao{
		display:block;
		width:420px;
		height:220px;
		position:relative;
		background:url('../_imgs/layout/bg-botao-modal.png') center center no-repeat;
		margin-bottom:50px;
		#box-participe{
			position:absolute;
			top:30px;
			left:28px;
			line-height:100%;
			.caecilia(30px, bold);
			color:#fff;
		}
		#box-seja{
			width:280px;
			height:135px;
			position:absolute;
			top:70px;
			left:110px;
			.caecilia(40px, bold);
			color:@azul_claro;
			line-height:115%;
			.frase1{
				.transition;
				font-size:30px;
				padding-left:100px;
			}
			.frase2{ .transition; }
			.frase3{
				.transition;
				padding-left:20px;
			}
		}
		&:hover{
			*{ color:#fff; }
		}
	}	
}

.ultalteracao{
	.topo{
		font-size:0;
		.destaque{
			.inline;
			width:225px;
			height:220px;
			background:url('../_imgs/layout/grafismo-comoparticipar.png') center center no-repeat;
			text-align:center;
			padding:85px 40px 0 40px;
			.caecilia(25px, bold);
			color:#fff;
			line-height:170%;
		}
		.titulo{
			.inline;
			padding:15px 30px 0 30px;
			width:615px;
			h1{
				color:@roxo;
				.caecilia(26px);
			}
			h2{
				color:@roxo;
				.caecilia(52px);
			}
			p{
				.verdana(14px);
				color:#fff;
				line-height:150%;
				margin-top:30px;
			}
		}
	}
	.meio{
		text-align: center;
		margin-top:40px;
		p{
			padding:0 115px;
			.verdana(14px);
			color:#fff;
		}
	}
	.links-container{
		margin-top:40px;
		a.link-roxo{
			.inline;
			width:395px;
			padding:40px;
			background-color:@roxo;
			position:relative;
			p{
				color:#fff;
				.verdana(14px);
				line-height:150%;
				height:66px;
				margin-bottom:20px;
				.maior{
					font-size:22px;
					font-weight:bold;
				}
			}
			.verde{
				display:block;
				position:absolute;
				right:52px;
				top:200px;
				min-width:83px;
				padding-top:98px;
				background:url('../_imgs/layout/caixa_download.png') center top no-repeat;
				text-align:center;
				.verdana(12px, bold);
				color:@verde_principal;
			}
			.transition;
			&.primeiro{ margin-right:30px; }
			&:active, &:visited{}
			&:hover{
				background-color:@verde_submenu;
			}
		}
	}
}