@largura:980px;

@verde_principal:#24ADA4;
@verde_escuro:#00897B;
@verde_clarinho:#CEEBE5;
@verde_agua:#00B69D;
@verde_rodape:#6DCEC8;
@verde_linhas:#4BC2BB;
@verde_submenu:#125160;

@roxo:#430E5D;

@azul_clarinho:#B9DCE3;
@azul_claro:#00CCFF;
@azul_escuro:#213F53;

.centralizar(@pad:0){
	width:@largura - (@pad * 2);
	padding:0 @pad;
	margin:0 auto;
}
.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.caecilia(@fsize:12px, @fweight:normal){	
	font-family: 'Caecilia','Rokkitt','Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.verdana(@fsize:12px, @fweight:normal){
	font-family: 'Verdana','Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial',sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}
.arredondada(@raio:10px){
	-webkit-border-radius:@raio;
	-moz-border-radius:@raio;
	-o-border-radius:@raio;
	border-radius:@raio;
	behavior:url('PIE.htc');
}
.transition(@prop:all, @dur:.3s, @type:ease-in){
	-webkit-transition:@prop @dur @type;
   -moz-transition:@prop @dur @type;
   -o-transition:@prop @dur @type;
   transition:@prop @dur @type;
}
.aviso{ color: #9F6000; background-color: #FEEFB3; border:2px #9F6000 solid; }
.sucesso{ border:2px #C6D880 solid; background-color:#E6EFC2; color:#264409; }
.falha{ border:2px #D8000C solid; color:#D8000C; background-color:#FFBABA; }

.offscreen{
	display:block;
	text-indent:-999999999px;
}

.align-right{
	text-align:right;
}

.absolute(@x:0, @y:0){
	position:absolute;
	left:@x;
	top:@y;
}

.centro{ .centralizar; }

.placeholder(@cor:#999 ){
	&::-webkit-input-placeholder { color: @cor; }
	&:-moz-placeholder  { color: @cor; }
	&::-moz-placeholder { color: @cor; }
	&:-ms-input-placeholder { color:    @cor; }	
}