@font-face {
	font-family: 'Caecilia';
	src: url('CaeciliaLTStd-Heavy.eot?') format('embedded-opentype');
	src: local('☺'),
		 url('CaeciliaLTStd-Heavy.woff') format('woff'),
		 url('CaeciliaLTStd-Heavy.ttf') format('truetype'),
		 url('CaeciliaLTStd-Heavy.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

